<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- mobile viewport detection -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}Dreadworks{% endblock %}</title>
        <!-- load jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <!--[if (gte IE 6)&(lte IE 8)]>
          {{ "selectivizr.js" | asset_url | script_tag }}
        <![endif]-->
        {{ "app.css" | asset_url | stylesheet_tag }}
        <!--[if lte IE 8]>
            {{ "if_lte_IE_8.js" | asset_url | script_tag }}
        <![endif]-->
        <!-- load modernizr -->
        {{ "modernizr-custom.js" | asset_url | script_tag }}
        <!-- load google fonts -->
        <script src="//use.edgefonts.net/muli:n3,i3,n4,i4.js"></script>
    </head>
    <body class="wrapper">
        {% include "header" %}
        <div class="container">
            <div class="grid">
                <div class="small-12 large-3 unit">
                    {% include "guide/nav" %}
                </div>
                <div class="small-12 large-9 unit">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% include "footer" %}
    </body>
</html>