// ---------------------------------------------------------------------------------------------------------  //
// Alerts
// ---------------------------------------------------------------------------------------------------------  //
$alert-font-color-dark: $dark !default;
$alert-font-color-light: $lightest !default;

@mixin alert {
	@include rem('padding', 10px 10px);
	@include rem('margin', 10px 0);
	display: block;
}

@mixin alert-style($alert-bg, $alert-border-radius) {
	border: 1px solid darken($alert-bg, 12%);
	-webkit-border-radius: $alert-border-radius; 
	border-radius: $alert-border-radius; 
	
	@if $alert-bg {
		$bg-lightness: lightness($alert-bg);
		background-color: $alert-bg;
		// Lightness based conditionals
		@if $bg-lightness > 70% {
		  color: darken($alert-bg, 35%);
		}
		@else {
		  color: lighten($alert-bg, 35%);
		}
	}
}

.alert {
	@include alert;
	&.plain {
		@include alert-style($light, 4px);
	}
	&.primary {
		@include alert-style($primary, 4px);
	}
	&.secondary {
		@include alert-style($secondary, 4px);
	}
	&.info {
		@include alert-style($info, 4px);
	}
	&.success {
		@include alert-style($success, 4px);
	}
	&.warning {
		@include alert-style($warning, 4px);
	}
	&.danger {
		@include alert-style($danger, 4px);
	}
	[class ^= "icon-"] {
		@include rem('margin', 0 10px 0 0);
	}
}