// ---------------------------------------------------------------------------------------------------------  //
//	Blockquotes Variables
// ---------------------------------------------------------------------------------------------------------  //

$blockquote-padding: 10px !default;

$blockquote-font-color-dark: $dark !default;
$blockquote-font-color-light: $lightest !default;

$blockquote-border-thickness: 10px !default;

$blockquote-round: $global-round;
$blockquote-oval: $global-oval;

// ---------------------------------------------------------------------------------------------------------  //
// Blockquotes
// ---------------------------------------------------------------------------------------------------------  //

@mixin blockquote($bg) {
	@include rem('margin', 0 0 10px);
	@include rem('padding', ($blockquote-padding * 1.5) ($blockquote-padding * 2));
	border-left: $blockquote-border-thickness solid darken($bg, 5%);
	small:before {
		content: '\2014 \00A0';
	}
	
	$bg-lightness: lightness($bg);
	
	@if $bg {
		background-color: $bg;
		
		@if $bg-lightness > 70% {
		  color: $blockquote-font-color-dark;
		  #{$headings} {
		  	color:  $blockquote-font-color-dark;
		  }
		}
		@else {
		  color: $blockquote-font-color-light;
		  #{$headings} {
		  	color:  $blockquote-font-color-light;
		  }
		}
	}
}


blockquote {
	@include blockquote($base-bg-color);
	&.round { 
		-webkit-border-radius: $blockquote-round;
		border-radius: $blockquote-round;
	}
	&.oval  {
		-webkit-border-radius: $blockquote-oval; 
		border-radius: $blockquote-oval; 
	}
	&.plain {
		@include blockquote($light);
	}
	&.primary {
		@include blockquote($primary);
	}
	&.secondary {
		@include blockquote($secondary);
	}
	&.info {
		@include blockquote($info);
	}
	&.success {
		@include blockquote($success);
	}

	&.warning {
		@include blockquote($warning);
	}

	&.danger {
		@include blockquote($danger);
	}
}