// ---------------------------------------------------------------------------------------------------------  //
// Buttons
// ---------------------------------------------------------------------------------------------------------  //

/* TODO: [1] Base font/line height / em/rem units need a TON of work */

// ---------------------------------------------------------------------------------------------------------  //
// Button Settings
// ---------------------------------------------------------------------------------------------------------  //


/* TODO: Redo button sizes to work with baseline*/

// Button Sizes
$button-mini: 				5px !default;
$button-small: 				9px !default;
$button-medium: 			10px !default;
$button-large: 				12px !default;
$button-xl: 				13px !default;
$button-xxl: 				14px !default;
$button-xxxl: 				15px !default;

// Button Font Sizes
$button-font-mini: 			10px !default;
$button-font-small: 		12px !default;
$button-font-medium: 		14px !default;
$button-font-large: 		16px !default;
$button-font-xl: 			18px !default;
$button-font-xxl: 			20px !default;
$button-font-xxxl:  		22px !default;

// Button Styles
$button-font-family: $heading-font-family !default;
$button-font-color-dark: 		#333333 !default;
$button-font-color-dark-hover: 	lighten($button-font-color-dark, 10) !default;
$button-font-color-light: 		#FFFFFF !default;
$button-font-color-light-hover: darken($button-font-color-light, 10);
$button-font-weight: 			bold !default;
$button-round: 					$global-round !default;
$button-oval: 					$global-oval !default;
$button-bg-transition:			.5s !default;		

// Button Base
$button-line-height: 		$base-line-height !default;
$button-link-decoration: none !default;
$button-link-decoration-hover: none !default;



// --------------------- //
// Button Size
// --------------------- //
@mixin button-size($padding:$button-medium, $button-block:false) {
	@if $padding {
	  @include rem('padding-top', $padding);
	  @include rem('padding-left', $padding * 2);
	  @include rem('padding-right', $padding * 2);
	  @include rem('padding-bottom', $padding + 1px);
	  // Adjusts the font size based on padding
	  @if      $padding == $button-mini 	{ @include rem('font-size', $button-font-mini); }
	  @else if $padding == $button-small 	{ @include rem('font-size', $button-font-small); }
	  @else if $padding == $button-medium 	{ @include rem('font-size', $button-font-medium); }
	  @else if $padding == $button-large 	{ @include rem('font-size', $button-font-large); }
	  @else if $padding == $button-xl 		{ @include rem('font-size', $button-font-xl); }
	  @else if $padding == $button-xxl 		{ @include rem('font-size', $button-font-xxl); }
	  @else if $padding == $button-xxxl 	{ @include rem('font-size', $button-font-xxxl); }
	  @else                     			{ font-size: $padding - em(2); }
	}

	// Full width of parent container
	@if $button-block {
	  width: 100%;
	  text-align: center
	}
}

// ---------------------------------------------------------------------------------------------------------  //
// Button Style
// ---------------------------------------------------------------------------------------------------------  //
@mixin button-style($bg) {
  @if $bg {
    $bg-lightness: lightness($bg);

    background-color: $bg;
    border-color: $dark;
    font-family: $button-font-family; 
    font-weight: $button-font-weight;
    -webkit-transition: $button-bg-transition background-color;
    -moz-transition: $button-bg-transition background-color;
    -ms-transition: $button-bg-transition background-color;
    -o-transition: $button-bg-transition background-color;
    transition: $button-bg-transition background-color;
    &:hover,
    &:focus { background-color: darken($bg, 10%); }

    // Lightness based conditionals
    @if $bg-lightness > 70% {
      color: $button-font-color-dark;
      &:hover,
      &:focus { color: $button-font-color-dark; }
    }
    @else {
      color: $button-font-color-light;
      &:hover,
      &:focus { color: $button-font-color-light; }
    }
  }
  &.shiny {
  	@include linear-gradient($bg, darken($bg, 10));
  	border: 1px solid darken($bg, 12);
  	text-shadow: 0 1px 0 rgba(darken($bg, 40%), .5);
  	-webkit-box-shadow: inset 1px 1px 1px lighten($bg, 30); 
  	box-shadow: inset 1px 1px 1px lighten($bg, 30);
  	&:hover,
  	&:focus {
  	 @include linear-gradient(darken($bg, 10), $bg);
  	}
  }
}

// ---------------------------------------------------------------------------------------------------------  //
// Button Base
// ---------------------------------------------------------------------------------------------------------  //
@mixin button-base() {
	display: inline-block;
	white-space:nowrap; 
	text-align: center;
	vertical-align: middle;
	cursor: pointer; 
	border: none;
	line-height: $button-line-height;
	text-decoration: $button-link-decoration;
	text-shadow: none;
	span {
		display: block;
		font-weight: normal;
	}
	&:hover {
		text-decoration: $button-link-decoration-hover; 
	}
}

// ---------------------------------------------------------------------------------------------------------  //
// Build the buttons
// ---------------------------------------------------------------------------------------------------------  //
.button,
button {
	@include button-size($button-medium);
	@include button-base();
	@include button-style($light);
	/* Button Styles */
	&.round {
		-webkit-border-radius: $button-round; 
		border-radius: $button-round; 
	}
	&.oval {
		-webkit-border-radius: $button-oval; 
		border-radius: $button-oval; 
	}
	&.block { 
		@include button-size(false,$button-block:true); 
	}
	/* Button Colors */
	&.primary {
		@include button-style($primary);
	}
	&.secondary {
		@include button-style($secondary);
	}
	&.info {
		@include button-style($info);
	}
	&.success {
		@include button-style($success);
	}

	&.warning {
		@include button-style($warning);
	}

	&.danger {
		@include button-style($danger);
	}
	/* Button Sizes */
	&.mini {
		@include button-size($button-mini);
	}
	&.small {
		@include button-size($button-small);
	}
	&.medium {
		@include button-size($button-medium);
	}
	&.large {
		@include button-size($button-large);
	}
	&.xlarge {
		@include button-size($button-xl);
	}
	&.xxl {
		@include button-size($button-xxl);
	}
	&.xxxl {
		@include button-size($button-xxxl);
	}
	/* Button Presentations */
}