// ---------------------------------------------------------------------------------------------------------  //
// Featured Item
// The featured item set is designed to help make displaying service/features/highlight icons/images easier.
// ---------------------------------------------------------------------------------------------------------  //

@mixin featured-item($type: default, $alignment: center) {
	text-align: $alignment;
	
	@if $type == default {
	}
	@else if $type == icon {
		@include rem('font-size', ($base-font-size * 12));
		display: block;
		width: 100%;
	}
}


.featured-image,
.featured-item {
	@include featured-item(default);
}
.featured-icon {
	@include featured-item(icon);
	color: darken($medium, 5);
}

.featured {
	overflow: hidden;
}
.featured .featured-block {
	@include rem('margin', 0 0 10px);
}