// ---------------------------------------------------------------------------------------------------------  //
// Navigation Variables
// ---------------------------------------------------------------------------------------------------------  //
$nav-hover-bg: $primary !default;
$nav-hover-font-color: $light !default;
$nav-active-bg: $nav-hover-bg !default;
$nav-active-font-color: $nav-hover-font-color !default;

$nav-border-radius: $global-round !default;

// ---------------------------------------------------------------------------------------------------------  //
// Navigation
// ---------------------------------------------------------------------------------------------------------  //

.nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		position: relative;
		display: block;
		a {
			text-decoration: none;
		}
		> a {
			display: block;
			@include rem('padding', 10px 20px);
		}
	}
}

.nav.nav-vertical {
	li {}
}

.nav.nav-pill {
	li {
		> a {
			&:hover {
				background: $nav-hover-bg;
				color: $nav-hover-font-color;
				-webkit-border-radius: $nav-border-radius; 
				border-radius: $nav-border-radius; 
			}
		}
	}
	.active > a {
		background: $nav-active-bg; 
		color: $nav-active-font-color;
	}
}