// ---------------------------------------------------------------------------------------------------------  //
//	Panels
// ---------------------------------------------------------------------------------------------------------  //

$panel-padding: 10px !default;

$panel-font-color-dark: $dark !default;
$panel-font-color-light: $lightest !default;

$panel-round: $global-round;
$panel-oval: $global-oval;

@mixin panel($bg) {
	@include rem('padding', $panel-padding);
	@include rem('margin', 0 0 20px);
	border: 1px solid darken($bg, 12%);
	
	$bg-lightness: lightness($bg);
	
	@if $bg {
		background-color: $bg;
		
		@if $bg-lightness > 70% {
		  color: $panel-font-color-dark;
		  #{$headings} {
		  	color:  $panel-font-color-dark;
		  	a {
		  		color:  $panel-font-color-dark;
		  	}
		  }
		}
		@else {
		  color: $panel-font-color-light;
		  #{$headings} {
		  	color:  $panel-font-color-light;
		  	a {
		  		color:  $panel-font-color-light;
		  	}
		  }
		}
	}
}


.panel {
	@include panel($light);
	&.round { 
		-webkit-border-radius: $panel-round;
		border-radius: $panel-round;
	}
	&.oval  {
		-webkit-border-radius: $panel-oval; 
		border-radius: $panel-oval; 
	}
	&.primary {
		@include panel($primary);
	}
	&.secondary {
		@include panel($secondary);
	}
	&.info {
		@include panel($info);
	}
	&.success {
		@include panel($success);
	}

	&.warning {
		@include panel($warning);
	}

	&.danger {
		@include panel($danger);
	}
}