// ---------------------------------------------------------------------------------------------------------  //
//
//	Sections
//  The sections module is designed to make full width sections easier.
//
// ---------------------------------------------------------------------------------------------------------  //

// ---------------------------------------------------------------------------------------------------------  //
//	Section Variables
// ---------------------------------------------------------------------------------------------------------  //

@mixin section($bg, $padding-vertical) {
	@include rem('padding', $padding-vertical 0);
	> section {
		@include grid-row(false);
		/* TODO: Need to find a more elegant solution to remove margin from first child no matter what element it is.*/
		#{$headings}:first-child {
			margin-top: 0;
		}
	}

	$bg-lightness: lightness($bg);
	
	@if $bg {
		background-color: $bg;
		
		@if $bg-lightness > 70% {
		  color: $panel-font-color-dark;
		  a { color:  $panel-font-color-dark; }
		  #{$headings} {
		  	color:  $panel-font-color-dark;
		  }
		}
		@else {
		  color: $panel-font-color-light;
		  a { color:  $panel-font-color-light; }
		  #{$headings} {
		  	color:  $panel-font-color-light;
		  }
		}
	}
}
