/* TODO: Need to remove comments and replace with original ones */
// ---------------------------------------------------------------------------------------------------------  //
//  Grid
//  Revised from Zurb's Foundation 4 Framework: https://github.com/zurb/foundation/blob/master/scss/foundation/components/_grid.scss
// ---------------------------------------------------------------------------------------------------------  //

// ---------------------------------------------------------------------------------------------------------  //
//  Grid Variables
// ---------------------------------------------------------------------------------------------------------  //
$include-html-classes: true;
$include-html-grid-classes: $include-html-classes !default;

$grid-width: 1040px !default;
$unit-gutter: 20px !default;
$total-columns: 12 !default;

$default-float: left;
$opposite-direction: right;

// ---------------------------------------------------------------------------------------------------------  //
// Grid Function
// ---------------------------------------------------------------------------------------------------------  //

@function gridCalc($unitNumber, $totalUnits) {
  @return percentage(($unitNumber / $totalUnits));
}

// ---------------------------------------------------------------------------------------------------------  //
// Grid Mixins
// ---------------------------------------------------------------------------------------------------------  //

// For creating container, nested, and collapsed rows.
@mixin grid-row($behavior: false) {

  // use @include grid-row(nest); to include a nested row
  @if $behavior == nest {
    width: auto;
    margin-#{$default-float}: -($unit-gutter/2);
    margin-#{$opposite-direction}: -($unit-gutter/2);
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
  }

  // use @include grid-row(collapse); to collapsed a container row margins
  @else if $behavior == collapse {
    width: 100%;
    margin: 0;
    max-width: $grid-width;
  }

  // use @include grid-row(nest-collapse); to collapse outer margins on a nested row
  @else if $behavior == nest-collapse {
    width: auto;
    margin: 0;
    max-width: none;
  }

  // use @include grid-row; to use a container row
  @else {
    width: 100%;
    margin-#{$default-float}: auto;
    margin-#{$opposite-direction}: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: $grid-width;
  }

  // Clearfix for all rows
  @include group();

}


// For creating columns - @include these inside a media query to control small vs. large grid layouts
@mixin grid-column($units:false, $last-column:false, $center:false, $offset:false, $push:false, $pull:false, $collapse:false, $float:true) {

  position: relative;

  // If collapsed, get rid of gutter padding
  @if $collapse {
    padding-left: 0;
    padding-right: 0;
  }

  // Gutter padding whenever a column isn't set to collapse
  // (use $collapse:null to do nothing)
  @else if $collapse == false {
    padding-left: $unit-gutter / 2;
    padding-right: $unit-gutter / 2;
  }

  // If a column number is given, calculate width
  @if $units {
    width: gridCalc($units, $total-columns);

    // If last column, float naturally instead of to the right
    @if $last-column { float: $opposite-direction; }
  }

  // If offset, calculate appropriate margins
  @if $offset { margin-#{$default-float}: gridCalc($offset, $total-columns); }

  // Source Ordering, adds left/right depending on which you use.
  @if $push { #{$default-float}: gridCalc($push, $total-columns); #{$opposite-direction}: auto; }
  @if $pull { #{$opposite-direction}: gridCalc($pull, $total-columns); #{$default-float}: auto; }

  // If centered, get rid of float and add appropriate margins
  @if $center {
    margin-#{$default-float}: auto;
    margin-#{$opposite-direction}: auto;
    float: none !important;
  }

  @if $float {
    @if $float == left or $float == true { float: $default-float; }
    @else if $float == right { float: $opposite-direction; }
    @else { float: none; }
  }

}


@if $include-html-grid-classes != false {
	/* Grid HTML Classes */
  .grid {
    @include grid-row;

    &.collapse {
      .unit,
      .units { @include grid-column($collapse:true); }
    }

    .grid { @include grid-row($behavior:nest);
      &.collapse { @include grid-row($behavior:nest-collapse); }
    }
  }

  .unit,
  .units { @include grid-column($units:$total-columns); }

  @media only screen {

    .unit,
    .units { @include grid-column($units:false); }

    @for $i from 1 through $total-columns {
      .small#{-$i} { @include grid-column($units:$i,$collapse:null,$float:false); }
    }

    @for $i from 0 through $total-columns - 2 {
      .small-offset-#{$i} { @include grid-column($offset:$i, $collapse:null,$float:false); }
    }

    [class*="column"] + [class*="column"]:last-child { float: $opposite-direction; }
    [class*="column"] + [class*="column"].end { float: $default-float; }

    .unit.small-centered,
    .units.small-centered { @include grid-column($center:true, $collapse:null, $float:false); }
  }

  /* Styles for screens that are atleast 768px; */
  @include media(medium) {

    @for $i from 1 through $total-columns {
      .large#{-$i} { @include grid-column($units:$i,$collapse:null,$float:false); }
    }

    @for $i from 0 through $total-columns - 1 {
      .grid .large-offset-#{$i} { @include grid-column($offset:$i, $collapse:null,$float:false); }
    }

    @for $i from 1 through $total-columns - 1 {
      .push#{-$i} { @include grid-column($push:$i, $collapse:null, $float:false); }
      .pull#{-$i} { @include grid-column($pull:$i, $collapse:null, $float:false); }
    }

    .unit.large-centered,
    .units.large-centered { @include grid-column($center:true, $collapse:null, $float:false); }

    .unit.large-uncentered,
    .units.large-uncentered {
      margin-#{$default-float}: 0;
      margin-#{$opposite-direction}: 0;
      float: $default-float !important;
    }

    .unit.large-uncentered.opposite,
    .units.large-uncentered.opposite {
      float: $opposite-direction !important;
    }
  }
}