// ---------------------------------------------------------------------------------------------------------  //
// Box Sizing
// ---------------------------------------------------------------------------------------------------------  //

@mixin box-sizing($type) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;
}