// ---------------------------------------------------------------------------------------------------------  //
// Media Queries
// ---------------------------------------------------------------------------------------------------------  //
$breakpoint-tiny: 280px !default; // Mobile first
$breakpoint-small: 480px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 980px !default;
$breakpoint-xl: 1040px !default;
$breakpoint-xxl: 1280px !default;


// Media Mixin
// The media mixin was designed to be as comprehensive as possible without being to overbearing and forcefull.
//
// Example:
//
// 			@include media(large) { [insert styles] }
//
// You may use your own custom widths too:
//
//			@include media(min, 1200px) { [insert styles] }
//		or
//			@include media(max, false, 600px) { [insert styles] }
//
@mixin media($media, $media-min: false, $media-max: false){
	@if $media == tiny {
		@media only screen and (min-width: $breakpoint-tiny) { @content; }
	}

	@else if $media == small {
		@media only screen and (min-width: $breakpoint-small) { @content; }
	}

	@else if $media == medium {
		@media only screen and (min-width: $breakpoint-medium) { @content; }
	}

	@else if $media == large {
		@media only screen and (min-width: $breakpoint-large) { @content; }
	}

	@else if $media == xl {
		@media only screen and (min-width: $breakpoint-xl) { @content; }
	}

	@else if $media == xxl {
		@media only screen and (min-width: $breakpoint-xxl) { @content; }
	}

	@else if $media == min {
		@media only screen and (min-width: $media-min) { @content; }
	} 

	@else if $media == max {
		@media only screen and (max-width: $media-max) { @content; }
	} 
}


// Windows 8 IE Snap Mode Fix
// Credit: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport{
  width: device-width;
}