// ---------------------------------------------------------------------------------------------------------  //
// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
// ---------------------------------------------------------------------------------------------------------  //
@mixin group() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}