// ---------------------------------------------------------------------------------------------------------  //
// Inline Block
// Inline block mixin with a IE fallback
// ---------------------------------------------------------------------------------------------------------  //

@mixin inline-block {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}