<header class="header">
	<section>
		<h1><a href="/">Dreadworks Framework</a></h1>
		<p class="lead">Dreadworks is a hybrid framework focusing on practicality over strict methodologies and semantic practices. </p>
	</section>
</header>