// ---------------------------------------------------------------------------------------------------------  //
// Flat UI Color Swatches // http://flatuicolors.com/
// ---------------------------------------------------------------------------------------------------------  //

$turquoise:     #1ABC9C;
$green-sea:     #16a085;

$emerald:       #2ecc71;
$nephritis:     #27ae60;

$peter-river:   #3498db;
$belize-hole:   #2980b9;

$amethyst:      #9b59b6;
$wisteria:      #8e44ad;

$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;

$sun-flower:    #f1c40f;
$orange:        #f39c12;

$carrot:        #e67e22;
$pumpkin:       #d35400;

$alizarin:      #e74c3c;
$pomegranate:   #c0392b;

$clouds:        #ecf0f1;
$silver:        #bdc3c7;

$concrete:      #95a5a6;
$asbestos:      #7f8c8d;

// ---------------------------------------------------------------------------------------------------------  //
// Solarized Color Swatches // http://ethanschoonover.com/solarized
// ---------------------------------------------------------------------------------------------------------  //
$solarized-base03:    #002b36;
$solarized-base02:    #073642;
$solarized-base01:    #586e75;
$solarized-base00:    #657b83;
$solarized-base0:     #839496;
$solarized-base1:     #93a1a1;
$solarized-base2:     #eee8d5;
$solarized-base3:     #fdf6e3;
$solarized-yellow:    #b58900;
$solarized-orange:    #cb4b16;
$solarized-red:       #dc322f;
$solarized-magenta:   #d33682;
$solarized-violet:    #6c71c4;
$solarized-blue:      #268bd2;
$solarized-cyan:      #2aa198;
$solarized-green:     #859900;


// ---------------------------------------------------------------------------------------------------------  //
// Define Colors / ** DO NOT REMOVE VARIABLES ** / Feel free to change their value however
// ---------------------------------------------------------------------------------------------------------  //
$primary:          $solarized-violet;
$secondary:        $solarized-base0;

$darkest:		   $solarized-base03;
$dark:             $solarized-base01;
$medium:           $solarized-base2;
$lightest:         $solarized-base3;
$light:			   darken($lightest, 3%);

$success:          $solarized-green;
$danger:           $solarized-red;
$warning:          $solarized-orange;
$info:             $solarized-blue;

$link-color:       $green-sea;
$link-hover-color: $turquoise;

// ---------------------------------------------------------------------------------------------------------  //
// Base
// ---------------------------------------------------------------------------------------------------------  //
// $base-bg-color: $lightest;
// $base-color: $dark;
// $heading-font-family: muli, sans-serif;
// $base-font-size: 16px;
// $base-line-height: 1.5;

// Links //
// $base-link-color: 	   		$secondary;
// $base-link-color-hover: 		$secondary;
// $base-link-decoration: 		none;
// $base-link-decoration-hover: underline;
// $base-link-transition: 		.3s;

// ---------------------------------------------------------------------------------------------------------  //
// Headings
// ---------------------------------------------------------------------------------------------------------  //
// $heading-font-family: muli, sans-serif;
// $heading-font-weight: bold;
// $heading-font-color: $darkest;

// ---------------------------------------------------------------------------------------------------------  //
// Navigation
// ---------------------------------------------------------------------------------------------------------  //

// ---------------------------------------------------------------------------------------------------------  //
// Module Parameters
// ---------------------------------------------------------------------------------------------------------  //
$global-round: 6px;
$global-oval: 2000px;

// ---------------------------------------------------------------------------------------------------------  //
// Buttons
// ---------------------------------------------------------------------------------------------------------  //

// Button Sizes
// $button-mini: 				5px;
// $button-small: 				9px;
// $button-medium: 				10px;
// $button-large: 				12px;
// $button-xl: 					13px;
// $button-xxl: 				14px;
// $button-xxxl: 				15px;

// Button Font Sizes
// $button-font-mini: 			10px;
// $button-font-small: 			12px;
// $button-font-medium: 		14px;
// $button-font-large: 			16px;
// $button-font-xl: 			18px;
// $button-font-xxl: 			20px;
// $button-font-xxxl:  			22px;

// Button Styles
// $button-font-color-dark: 		#333333;
// $button-font-color-dark-hover: 	lighten($button-font-color-dark, 10);
// $button-font-color-light: 		#FFFFFF;
// $button-font-color-light-hover: darken($button-font-color-light, 10);
// $button-font-weight: 			bold;
// $button-round: 					$global-round;
// $button-oval: 					$global-oval;
// $button-bg-transition:			.5s; // Use for subtle transition to bg hover color		

// Button Base
// $button-line-height: 		$base-line-height;
// $button-link-decoration: none;
// $button-link-decoration-hover: none;


// ---------------------------------------------------------------------------------------------------------  //
// Grid
// ---------------------------------------------------------------------------------------------------------  //
// $grid-width: 1040px;
// $unit-gutter: 20px;
// $total-columns: 12;

// ---------------------------------------------------------------------------------------------------------  //
// Buttons Parameters
// ---------------------------------------------------------------------------------------------------------  //
// $button-font-color-dark: $dark;
// $button-font-color-light: $lightest;

// ---------------------------------------------------------------------------------------------------------  //
// Utility
// ---------------------------------------------------------------------------------------------------------  //
$headings: "h1, h2, h3, h4, h5, h6"; // Shortcut for calling all headings use #{$headings}

