// ---------------------------------------------------------------------------------------------------------  //
// Base Variables
// ---------------------------------------------------------------------------------------------------------  //
$base-font-family: muli, sans-serif !default;

$base-bg-color: $lightest !default;
$base-color: $dark !default;

$base-link-color: #333333 !default;
$base-link-color-hover: $base-link-color !default;
$base-link-decoration: none !default;
$base-link-decoration-hover: underline !default;
$base-link-transition: .3s !default;

// ---------------------------------------------------------------------------------------------------------  //
// Base
// ---------------------------------------------------------------------------------------------------------  //
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;	
}

* {
	@include box-sizing(border-box);
}

body {
	font-family: $base-font-family; 
	background: $base-bg-color;
	@include group();
	a {
		color: $base-link-color;
		text-decoration: $base-link-decoration; 
		-webkit-transition: $base-link-transition color;
		-moz-transition: $base-link-transition color;
		-ms-transition: $base-link-transition color;
		-o-transition: $base-link-transition color;
		transition: $base-link-transition color;
		&:hover,
		&:active, 
		&:focus { 
			color: $base-link-color-hover;
			text-decoration: $base-link-decoration-hover; 
		}
	}
}