// ---------------------------------------------------------------------------------------------------------  //
// Form Variables
// ---------------------------------------------------------------------------------------------------------  //
$input-padding-vertical: 5px !default;
$input-padding-horizontal: 10px !default;

// ---------------------------------------------------------------------------------------------------------  //
// Forms
// ---------------------------------------------------------------------------------------------------------  //


input,
input[type="text"],
input[type="email"] {
	@include rem('padding', $input-padding-vertical $input-padding-horizontal);
	border: 1px solid darken($medium, 10);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	&:focus {
	  outline: 0;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	}
}


.input-block {
	width: 100%;
	
}