// ---------------------------------------------------------------------------------------------------------  //
//	Lists
// ---------------------------------------------------------------------------------------------------------  //

ol, ul {
	@include rem('font-size', 16px ); 
}

li {
	line-height: auto;
}
.list.unstyled {
	list-style-type: none;
}

.list.bullets {
	list-style-type: disc; 
}