// ---------------------------------------------------------------------------------------------------------  //
// Misc Classes
// ---------------------------------------------------------------------------------------------------------  //

/* Misc */
.float-left   	{ float: left !important; }
.float-right  	{ float: right !important; }
.text-left    	{ text-align: left !important; }
.text-right   	{ text-align: right !important; }
.text-center  	{ text-align: center !important; }
.text-justify 	{ text-align: justify !important; }
.text-uppercase { text-transform: uppercase !important; }
.hide         	{ display: none; }

pre , code, kbd, samp { 
  color: $dark; 
  font-family: monospace;  
  border-radius:3px;
  background-color: darken($lightest, 2%);
  border: 1px solid darken($lightest, 10%); 
  -webkit-border-radius: $global-round; 
  border-radius: $global-round; 
}
pre { 
	white-space: pre; 
	white-space: pre-wrap; 
	word-wrap: break-word; 
	@include rem('padding', 5px 12px);
}
pre code { 
	padding: 0; 
}
code { 
	padding: 0 3px 0 3px;
}