// ---------------------------------------------------------------------------------------------------------  //
//	Headings
// ---------------------------------------------------------------------------------------------------------  //

// ---------------------------------------------------------------------------------------------------------  //
//	Heading Variables
// ---------------------------------------------------------------------------------------------------------  //
$heading-font-family: muli, sans-serif !default;
$heading-font-weight: bold !default;
$heading-font-color: #000 !default;
$heading-text-rendering: optimizeLegibility !default;
// Utility
$headings: "h1, h2, h3, h4, h5, h6" !default;

$h1-size:           32px !default; // .alpha
$h2-size:           28px !default; // .beta
$h3-size:           24px !default; // .gamma
$h4-size:           20px !default; // .delta
$h5-size:           18px !default; // .epsilon
$h6-size:           16px !default; // .zeta

$base-root-size-tiny: 		14 !default;
$base-root-size-small: 		14 !default;
$base-root-size-medium: 	15 !default;
$base-root-size-large: 		16 !default;
$base-root-size-xl: 		17 !default;
$base-root-size-xxl: 		18 !default;
$base-font-size: 			16px !default;
$base-line-height: 			1.5 !default;
$base-ratio: 				1.618 !default; // golden ratio

@mixin base-root($root-size) { 
	font-size: #{$root-size / 16 * 100%}; 
}

html {
	@include base-root($base-root-size-tiny);
	@include media(small) {
		@include base-root($base-root-size-small);
	}
	@include media(medium) {
		@include base-root($base-root-size-medium);
	}
	@include media(large) {
		@include base-root($base-root-size-large);
	}
	@include media(xl) {
		@include base-root($base-root-size-xl);
	}
	@include media(xxl) {
		@include base-root($base-root-size-xxl);
	}
}

// Normalize Headings
#{$headings} {
	font-family: 	$heading-font-family;
	font-weight: 	$heading-font-weight;
	color: 			$heading-font-color;
	text-rendering: optimizelegibility;
	margin-top: 0;
	line-height: $base-line-height;
}

h1 {
	@include rem('font-size', $h1-size);
	@include rem('margin-bottom', ($h1-size / 2));
}

h2 {
	@include rem('font-size', $h2-size);
	@include rem('margin-bottom', ($h2-size / 2.25));
}

h3 {
	@include rem('font-size', $h3-size);
	@include rem('margin-bottom', ($h3-size / 2));
}

h4 {
	@include rem('font-size', $h4-size);
	@include rem('margin-bottom', ($h4-size / 2));
}

h5 {
	@include rem('font-size', $h5-size);
	@include rem('margin-bottom', ($h5-size / 2));
}

h6 {
	@include rem('font-size', $h6-size);
	@include rem('margin-bottom', ($h6-size / 2));
}


// ---------------------------------------------------------------------------------------------------------  //
//	Harmonious Typograpghy Bonding
// ---------------------------------------------------------------------------------------------------------  //
/* TODO: Rename sizing classes to match globally */
h1 + p, h1 + ol, h1 + ul, h1 + blockquote p, h1 + pre,
.alpha + p, .alpha + ol, .alpha + ul, .alpha + blockquote p, .alpha + pre,
h2 + p, h2 + ol, h2 + ul, h2 + blockquote p, h2 + pre,
.beta + p, .beta + ol, .beta + ul, .beta + blockquote p, .beta + pre,
h3 + p, h3 + ol, h3 + ul, h3 + blockquote p, h3 + pre,
.gamma + p, .gamma + ol, .gamma + ul, .gamma + blockquote p, .gamma + pre,
img + p, img + ol, img + ul, img + blockquote p, img + pre {
	margin-bottom: 0;
	@include media(small) {
	}
	@include media(medium) {
	}
	@include media(large) {
	}
	@include media(xl) { 
	}
	@include media(xxl) {
	}
}

// ---------------------------------------------------------------------------------------------------------  //
//	Base Typography
// ---------------------------------------------------------------------------------------------------------  //

p { 
	@include rem('font-size', $base-font-size);
	@include rem('line-height', ($base-font-size * $base-line-height));
	@include rem('margin', 0 0 ($base-font-size * 1.5));
}

.lead {
	@include rem('font-size', $base-font-size * 1.2);
	@include rem('margin', 0 0 ($base-font-size * $base-line-height));
}


//	Typography Size Modifiers
// ---------------------------------------------------------------------------------------------------------  //
