/*
* Style Guide
*/

.guide-grids {
  .unit {
    @extend .font-small;
    background: $primary; 
    border: 1px dashed darken($primary, 12%);
    color: $light;
    @include rem('padding',20px 10px); 
    @include rem('margin',5px 0); 
  }
}

.guide-icons {
  [class^="icon-"]:before, [class*=" icon-"]:before {
    @include rem('font-size',28px);
  }  
  .the-icons {
    font-size: 14px;
    line-height: 24px;
  }
  .i-code {
    display: none;
  }
}
