{% layout "guide" %}
{% block content %}
<div class="guide">
	{% include "guide/intro" %}
	{% include "guide/buttons" %}
	{% include "guide/grids" %}
	{% include "guide/panels" %}
	{% include "guide/typography" %}
	{% include "guide/forms" %}
	{% include "guide/tables" %}
	{% include "guide/menus" %}
	{% include "guide/sections" %}
	{% include "guide/alerts" %}
	{% include "guide/progress-bars" %}
	{% include "guide/images" %}
	{% include "guide/icons" %}
</div>
{% endblock %}