{% block content %}
<div class="grid featured">
	<div class="large-4 small-12 featured-block unit">
		<i class="icon-mobile featured-icon"></i>
		<h3>Mobile Ready</h3>
		<p>Fluid degradation. All functions scale with the utmost grace.</p>
		<a href="#" class="button small secondary oval shiny float-right">read more</a>
	</div>
	<div class="large-4 small-12 featured-block unit">
		<i class="icon-lightbulb featured-icon"></i>
		<h3>Logical UI</h3>
		<p>Easy to use CSS classes that border on semantics and practicality. Great for beginners and amazingly effecient for seasoned developers</p>
		<a href="#" class="button small secondary oval shiny float-right">read more</a>
	</div>
	<div class="large-4 small-12 featured-block unit">
		<i class="icon-compass featured-icon"></i>
		<h3>Built With Sass</h3>
		<p>Dreadworks harnesses the power of the Sass-Language with several custom mixins for rapid scaffolding.</p>
		<a href="#" class="button small secondary oval shiny float-right">read more</a>
	</div>
</div>

<div class="grid">
	<div class="small-6 unit">
		<a href="https://bitbucket.org/ulinaaron/dreadworks/get/version-0.2-alpha.zip" class="button block xxl shiny success oval">
			Download
			<span class="font-tiny">( version 0.2 alpha )</span>
		</a>
	</div>
	<div class="small-6 unit">
		<a href="guide" class="button block xxl shiny info oval">
			View Demo
			<span class="font-tiny">( documentation + code samples )</span>
		</a>
	</div>
</div>

<div class="alert warning">
	<i class="icon-warning"></i> Dreadworks is currently under heavy development and is not meant to be used in any production instance. Please only download for testing purposes.
</div>

{% endblock %}