<!-- alerts -->
<div class="grid">
	<div class="small-12 unit">
		<a name="alerts"></a>
		<h3>Alerts</h3>
		<div class="alert plain">
			This is a plain alert.
		</div>
		<div class="alert info">
			<i class="icon-pin"></i> This is a info alert.
		</div>
		<div class="alert success">
			<i class="icon-ok"></i> This is a success alert.
		</div>
		<div class="alert warning">
			<i class="icon-warning"></i> This is a warning alert.
		</div>
		<div class="alert danger">
			<i class="icon-block"></i> This is a danger alert.
		</div>
		<div class="alert primary">
			<i class="icon-upload-cloud"></i> This is a primary alert.
		</div>
		<div class="alert secondary">
			<i class="icon-flag-filled"></i> This is a secondary alert.
		</div>
	</div>
</div>
<!-- / alerts -->