<!-- buttons -->
<section id="buttons">
	<div class="grid">
		<div class="small-12 unit">
			<a name="buttons"></a>
			<h3>Buttons</h3>
		</div>
	</div>
	<div class="grid">
		<div class="small-12 unit">
			<div class="small-6 large-3 unit">
				<pre><code class="text-center">button</code></pre>
				<a href="#" class="button">Normal Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button info</code></pre>
				<a href="#" class="button info">Info Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button success</code></pre>
				<a href="#" class="button success">Success Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button warning</code></pre>
				<a href="#" class="button warning">Warning Button</a>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="small-12 unit">
			<div class="small-6 large-3 unit">
				<pre><code>button danger</code></pre>
				<a href="#" class="button danger">Danger Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button primary</code></pre>
				<a href="#" class="button primary">Primary Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button secondary</code></pre>
				<a href="#" class="button secondary">Secondary Button</a>
			</div>
			<div class="small-6 large-3 unit">
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="small-12 unit">
			<h4>Button Sizes</h4>
		</div>
	</div>
	<div class="grid">
		<div class="small-12 unit">
			<div class="small-6 large-3 unit">
				<pre><code>button mini</code></pre>
				<a href="#" class="button mini round">Mini Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button small</code></pre>
				<a href="#" class="button small round">Small Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button medium</code></pre>
				<a href="#" class="button medium round">Medium Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button large</code></pre>
				<a href="#" class="button large round">Large Button</a>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="small-12 unit">
			<div class="small-6 large-3 unit">
				<pre><code>button xlarge</code></pre>
				<a href="#" class="button xlarge round">XLarge Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button xxl</code></pre>
				<a href="#" class="button xxl round">XXLarge Button</a>
			</div>
			<div class="small-6 large-3 unit">
				<pre><code>button xxxl</code></pre>
				<a href="#" class="button xxxl round">XXXLarge Button</a>
			</div>
			<div class="small-6 large-3 unit">
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="small-12 unit">
			<h4>Button Modifiers</h4>
		</div>
	</div>
	<div class="grid">
		<div class="small-12 unit">
			<div class="small-12 large-6 unit">
				<div class="grid">
					<div class="small-12 large-6 unit">
						<pre><code>buttton round</code></pre>
						<a href="#" class="button round">Radius</a>
					</div>
					<div class="small-12 large-6 unit">
						<pre><code>buttton oval</code></pre>
						<a href="#" class="button oval">Oval</a>
					</div>
				</div>
				<div class="grid">
					<div class="small-12 large-6 unit">
						<a href="#" class="button large oval shiny"><i class="icon-calendar"></i> Icon Left</a>
					</div>
					<div class="small-12 large-6 unit">
						<a href="#" class="button large oval shiny">Icon Right <i class="icon-users"></i></a>
					</div>
				</div>
				<div class="grid">
					<div class="small-12 large-6 unit">
						<a href="#" class="button large success round"><i class="icon-ok"></i> Okay</a>
					</div>
					<div class="small-12 large-6 unit">
						<a href="#" class="button large danger round">Cancel <i class="icon-cancel"></i></a>
					</div>
				</div>
			</div>
			<div class="small-12 large-6 unit">
				<pre><code>buttton shiny</code></pre>
				<a href="#" class="button info shiny">Shiny Info</a>
				<a href="#" class="button success shiny">Shiny Success</a>
				<a href="#" class="button warning shiny">Shiny Warning</a>
				<a href="#" class="button danger shiny">Shiny Danger</a>
				<a href="#" class="button primary shiny">Shiny Primary</a>
				<a href="#" class="button secondary shiny">Shiny Secondary</a>
			</div>
		</div>
	</div>
</section>
<!-- / buttons -->