<!-- grids -->
<div class="grid">
	<div class="small-12 unit">
		<h3>Grid</h3>
	</div>
</div>
<div class="guide-grids">
	<div class="grid">
		<div class="large-6 unit">
			small 12
			large 6
		</div>
		<div class="large-6 unit">
			small 12
			large 6
		</div>
	</div>
	<div class="grid">
		<div class="small-4 unit">
			small 4
		</div>
		<div class="small-4 unit">
			small 4
		</div>
		<div class="small-4 unit">
			small 4
		</div>
	</div>
	<div class="grid">
		<div class="small-3 unit">
			small 3
		</div>
		<div class="small-3 unit">
			small 3
		</div>
		<div class="small-3 unit">
			small 3
		</div>
		<div class="small-3 unit">
			small 3
		</div>
	</div>
	<div class="grid">
		<div class="small-2 unit">
			small 2
		</div>
		<div class="small-2 unit">
			small 2
		</div>
		<div class="small-2 unit">
			small 2
		</div>
		<div class="small-2 unit">
			small 2
		</div>
		<div class="small-2 unit">
			small 2
		</div>
		<div class="small-2 unit">
			small 2
		</div>
	</div>
	<div class="grid">
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
		<div class="small-3 large-1 unit">
			small 2  large 1
		</div>
	</div>
	<div class="grid">
		<h4>Nested Grid</h4>
		<div class="large-6 unit">
			<div class="grid">
				<div class="small-4 unit">
					small 4
				</div>
				<div class="small-4 unit">
					small 4
				</div>
				<div class="small-4 unit">
					small 4
				</div>
			</div>
		</div>
		<div class="large-6 unit">
			<div class="grid">
				<div class="large-6 unit">
					small 12
					large 6
				</div>
				<div class="large-6 unit">
					small 12
					large 6
				</div>
			</div>
		</div>
	</div>
</div>
<!-- / grids -->