<!-- typicons -->
<div class="guide-icons grid">
	<div class="small-12 unit">
		<a name="icons"></a>
		<h3>Typicons</h3>
		<div id="icons" class="container">
		  <div class="grid">
		    <div title="Code: 0xe909" class="the-icons small-6 large-3 unit"><i class="icon-infinity"></i> <code><span class="i-name">icon-infinity</span></code><span class="i-code">0xe909</span></div>
		    <div title="Code: 0xe8ce" class="the-icons small-6 large-3 unit"><i class="icon-sun"></i> <code><span class="i-name">icon-sun</span></code><span class="i-code">0xe8ce</span></div>
		    <div title="Code: 0xe878" class="the-icons small-6 large-3 unit"><i class="icon-cog"></i> <code><span class="i-name">icon-cog</span></code><span class="i-code">0xe878</span></div>
		    <div title="Code: 0xe803" class="the-icons small-6 large-3 unit"><i class="icon-attention-filled"></i> <code><span class="i-name">icon-attention-filled</span></code><span class="i-code">0xe803</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8d2" class="the-icons small-6 large-3 unit"><i class="icon-flash"></i> <code><span class="i-name">icon-flash</span></code><span class="i-code">0xe8d2</span></div>
		    <div title="Code: 0xe917" class="the-icons small-6 large-3 unit"><i class="icon-scissors"></i> <code><span class="i-name">icon-scissors</span></code><span class="i-code">0xe917</span></div>
		    <div title="Code: 0xe85e" class="the-icons small-6 large-3 unit"><i class="icon-pencil"></i> <code><span class="i-name">icon-pencil</span></code><span class="i-code">0xe85e</span></div>
		    <div title="Code: 0xe8a6" class="the-icons small-6 large-3 unit"><i class="icon-cw"></i> <code><span class="i-name">icon-cw</span></code><span class="i-code">0xe8a6</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8cf" class="the-icons small-6 large-3 unit"><i class="icon-sun-filled"></i> <code><span class="i-name">icon-sun-filled</span></code><span class="i-code">0xe8cf</span></div>
		    <div title="Code: 0xe8cb" class="the-icons small-6 large-3 unit"><i class="icon-contrast"></i> <code><span class="i-name">icon-contrast</span></code><span class="i-code">0xe8cb</span></div>
		    <div title="Code: 0xe910" class="the-icons small-6 large-3 unit"><i class="icon-anchor-outline"></i> <code><span class="i-name">icon-anchor-outline</span></code><span class="i-code">0xe910</span></div>
		    <div title="Code: 0xe90f" class="the-icons small-6 large-3 unit"><i class="icon-anchor"></i> <code><span class="i-name">icon-anchor</span></code><span class="i-code">0xe90f</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe86c" class="the-icons small-6 large-3 unit"><i class="icon-archive"></i> <code><span class="i-name">icon-archive</span></code><span class="i-code">0xe86c</span></div>
		    <div title="Code: 0xe84c" class="the-icons small-6 large-3 unit"><i class="icon-reply"></i> <code><span class="i-name">icon-reply</span></code><span class="i-code">0xe84c</span></div>
		    <div title="Code: 0xe89d" class="the-icons small-6 large-3 unit"><i class="icon-down-outline"></i> <code><span class="i-name">icon-down-outline</span></code><span class="i-code">0xe89d</span></div>
		    <div title="Code: 0xe88a" class="the-icons small-6 large-3 unit"><i class="icon-down"></i> <code><span class="i-name">icon-down</span></code><span class="i-code">0xe88a</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8a7" class="the-icons small-6 large-3 unit"><i class="icon-down-small"></i> <code><span class="i-name">icon-down-small</span></code><span class="i-code">0xe8a7</span></div>
		    <div title="Code: 0xe84d" class="the-icons small-6 large-3 unit"><i class="icon-forward-outline"></i> <code><span class="i-name">icon-forward-outline</span></code><span class="i-code">0xe84d</span></div>
		    <div title="Code: 0xe84e" class="the-icons small-6 large-3 unit"><i class="icon-forward"></i> <code><span class="i-name">icon-forward</span></code><span class="i-code">0xe84e</span></div>
		    <div title="Code: 0xe89f" class="the-icons small-6 large-3 unit"><i class="icon-left-outline"></i> <code><span class="i-name">icon-left-outline</span></code><span class="i-code">0xe89f</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe889" class="the-icons small-6 large-3 unit"><i class="icon-left"></i> <code><span class="i-name">icon-left</span></code><span class="i-code">0xe889</span></div>
		    <div title="Code: 0xe8a2" class="the-icons small-6 large-3 unit"><i class="icon-left-small"></i> <code><span class="i-name">icon-left-small</span></code><span class="i-code">0xe8a2</span></div>
		    <div title="Code: 0xe8ad" class="the-icons small-6 large-3 unit"><i class="icon-loop-alt-outline"></i> <code><span class="i-name">icon-loop-alt-outline</span></code><span class="i-code">0xe8ad</span></div>
		    <div title="Code: 0xe8ae" class="the-icons small-6 large-3 unit"><i class="icon-loop-alt"></i> <code><span class="i-name">icon-loop-alt</span></code><span class="i-code">0xe8ae</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe899" class="the-icons small-6 large-3 unit"><i class="icon-resize-full-outline"></i> <code><span class="i-name">icon-resize-full-outline</span></code><span class="i-code">0xe899</span></div>
		    <div title="Code: 0xe898" class="the-icons small-6 large-3 unit"><i class="icon-resize-full"></i> <code><span class="i-name">icon-resize-full</span></code><span class="i-code">0xe898</span></div>
		    <div title="Code: 0xe897" class="the-icons small-6 large-3 unit"><i class="icon-resize-normal-outline"></i> <code><span class="i-name">icon-resize-normal-outline</span></code><span class="i-code">0xe897</span></div>
		    <div title="Code: 0xe896" class="the-icons small-6 large-3 unit"><i class="icon-resize-normal"></i> <code><span class="i-name">icon-resize-normal</span></code><span class="i-code">0xe896</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe895" class="the-icons small-6 large-3 unit"><i class="icon-move-outline"></i> <code><span class="i-name">icon-move-outline</span></code><span class="i-code">0xe895</span></div>
		    <div title="Code: 0xe894" class="the-icons small-6 large-3 unit"><i class="icon-move"></i> <code><span class="i-name">icon-move</span></code><span class="i-code">0xe894</span></div>
		    <div title="Code: 0xe8ab" class="the-icons small-6 large-3 unit"><i class="icon-loop-outline"></i> <code><span class="i-name">icon-loop-outline</span></code><span class="i-code">0xe8ab</span></div>
		    <div title="Code: 0xe8a0" class="the-icons small-6 large-3 unit"><i class="icon-right-outline"></i> <code><span class="i-name">icon-right-outline</span></code><span class="i-code">0xe8a0</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8a8" class="the-icons small-6 large-3 unit"><i class="icon-right"></i> <code><span class="i-name">icon-right</span></code><span class="i-code">0xe8a8</span></div>
		    <div title="Code: 0xe8a3" class="the-icons small-6 large-3 unit"><i class="icon-right-small"></i> <code><span class="i-name">icon-right-small</span></code><span class="i-code">0xe8a3</span></div>
		    <div title="Code: 0xe8a9" class="the-icons small-6 large-3 unit"><i class="icon-arrows-cw-outline"></i> <code><span class="i-name">icon-arrows-cw-outline</span></code><span class="i-code">0xe8a9</span></div>
		    <div title="Code: 0xe8aa" class="the-icons small-6 large-3 unit"><i class="icon-arrows-cw"></i> <code><span class="i-name">icon-arrows-cw</span></code><span class="i-code">0xe8aa</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8a1" class="the-icons small-6 large-3 unit"><i class="icon-up-outline"></i> <code><span class="i-name">icon-up-outline</span></code><span class="i-code">0xe8a1</span></div>
		    <div title="Code: 0xe89c" class="the-icons small-6 large-3 unit"><i class="icon-up"></i> <code><span class="i-name">icon-up</span></code><span class="i-code">0xe89c</span></div>
		    <div title="Code: 0xe8a4" class="the-icons small-6 large-3 unit"><i class="icon-up-small"></i> <code><span class="i-name">icon-up-small</span></code><span class="i-code">0xe8a4</span></div>
		    <div title="Code: 0xe906" class="the-icons small-6 large-3 unit"><i class="icon-at"></i> <code><span class="i-name">icon-at</span></code><span class="i-code">0xe906</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe836" class="the-icons small-6 large-3 unit"><i class="icon-attach-outline"></i> <code><span class="i-name">icon-attach-outline</span></code><span class="i-code">0xe836</span></div>
		    <div title="Code: 0xe837" class="the-icons small-6 large-3 unit"><i class="icon-attach"></i> <code><span class="i-name">icon-attach</span></code><span class="i-code">0xe837</span></div>
		    <div title="Code: 0xe828" class="the-icons small-6 large-3 unit"><i class="icon-cancel-alt"></i> <code><span class="i-name">icon-cancel-alt</span></code><span class="i-code">0xe828</span></div>
		    <div title="Code: 0xe829" class="the-icons small-6 large-3 unit"><i class="icon-cancel-alt-filled"></i> <code><span class="i-name">icon-cancel-alt-filled</span></code><span class="i-code">0xe829</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8b1" class="the-icons small-6 large-3 unit"><i class="icon-bat-charge"></i> <code><span class="i-name">icon-bat-charge</span></code><span class="i-code">0xe8b1</span></div>
		    <div title="Code: 0xe8b2" class="the-icons small-6 large-3 unit"><i class="icon-bat4"></i> <code><span class="i-name">icon-bat4</span></code><span class="i-code">0xe8b2</span></div>
		    <div title="Code: 0xe8b3" class="the-icons small-6 large-3 unit"><i class="icon-bat3"></i> <code><span class="i-name">icon-bat3</span></code><span class="i-code">0xe8b3</span></div>
		    <div title="Code: 0xe8b4" class="the-icons small-6 large-3 unit"><i class="icon-bat2"></i> <code><span class="i-name">icon-bat2</span></code><span class="i-code">0xe8b4</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe918" class="the-icons small-6 large-3 unit"><i class="icon-flask"></i> <code><span class="i-name">icon-flask</span></code><span class="i-code">0xe918</span></div>
		    <div title="Code: 0xe911" class="the-icons small-6 large-3 unit"><i class="icon-beer"></i> <code><span class="i-name">icon-beer</span></code><span class="i-code">0xe911</span></div>
		    <div title="Code: 0xe857" class="the-icons small-6 large-3 unit"><i class="icon-bell"></i> <code><span class="i-name">icon-bell</span></code><span class="i-code">0xe857</span></div>
		    <div title="Code: 0xe88e" class="the-icons small-6 large-3 unit"><i class="icon-popup"></i> <code><span class="i-name">icon-popup</span></code><span class="i-code">0xe88e</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8da" class="the-icons small-6 large-3 unit"><i class="icon-briefcase"></i> <code><span class="i-name">icon-briefcase</span></code><span class="i-code">0xe8da</span></div>
		    <div title="Code: 0xe8d9" class="the-icons small-6 large-3 unit"><i class="icon-brush"></i> <code><span class="i-name">icon-brush</span></code><span class="i-code">0xe8d9</span></div>
		    <div title="Code: 0xe852" class="the-icons small-6 large-3 unit"><i class="icon-vcard"></i> <code><span class="i-name">icon-vcard</span></code><span class="i-code">0xe852</span></div>
		    <div title="Code: 0xe90b" class="the-icons small-6 large-3 unit"><i class="icon-calculator"></i> <code><span class="i-name">icon-calculator</span></code><span class="i-code">0xe90b</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe87c" class="the-icons small-6 large-3 unit"><i class="icon-calendar-outlilne"></i> <code><span class="i-name">icon-calendar-outlilne</span></code><span class="i-code">0xe87c</span></div>
		    <div title="Code: 0xe87d" class="the-icons small-6 large-3 unit"><i class="icon-calendar"></i> <code><span class="i-name">icon-calendar</span></code><span class="i-code">0xe87d</span></div>
		    <div title="Code: 0xe81c" class="the-icons small-6 large-3 unit"><i class="icon-camera-outline"></i> <code><span class="i-name">icon-camera-outline</span></code><span class="i-code">0xe81c</span></div>
		    <div title="Code: 0xe81d" class="the-icons small-6 large-3 unit"><i class="icon-camera"></i> <code><span class="i-name">icon-camera</span></code><span class="i-code">0xe81d</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe89a" class="the-icons small-6 large-3 unit"><i class="icon-block-outline"></i> <code><span class="i-name">icon-block-outline</span></code><span class="i-code">0xe89a</span></div>
		    <div title="Code: 0xe91d" class="the-icons small-6 large-3 unit"><i class="icon-chart-alt-outline"></i> <code><span class="i-name">icon-chart-alt-outline</span></code><span class="i-code">0xe91d</span></div>
		    <div title="Code: 0xe91e" class="the-icons small-6 large-3 unit"><i class="icon-chart-alt"></i> <code><span class="i-name">icon-chart-alt</span></code><span class="i-code">0xe91e</span></div>
		    <div title="Code: 0xe91f" class="the-icons small-6 large-3 unit"><i class="icon-chart-bar-outline"></i> <code><span class="i-name">icon-chart-bar-outline</span></code><span class="i-code">0xe91f</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe91b" class="the-icons small-6 large-3 unit"><i class="icon-chart-outline"></i> <code><span class="i-name">icon-chart-outline</span></code><span class="i-code">0xe91b</span></div>
		    <div title="Code: 0xe921" class="the-icons small-6 large-3 unit"><i class="icon-chart-pie-outline"></i> <code><span class="i-name">icon-chart-pie-outline</span></code><span class="i-code">0xe921</span></div>
		    <div title="Code: 0xe922" class="the-icons small-6 large-3 unit"><i class="icon-chart-pie"></i> <code><span class="i-name">icon-chart-pie</span></code><span class="i-code">0xe922</span></div>
		    <div title="Code: 0xe88d" class="the-icons small-6 large-3 unit"><i class="icon-left-open-outline"></i> <code><span class="i-name">icon-left-open-outline</span></code><span class="i-code">0xe88d</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe88c" class="the-icons small-6 large-3 unit"><i class="icon-left-open"></i> <code><span class="i-name">icon-left-open</span></code><span class="i-code">0xe88c</span></div>
		    <div title="Code: 0xe88b" class="the-icons small-6 large-3 unit"><i class="icon-right-open-outline"></i> <code><span class="i-name">icon-right-open-outline</span></code><span class="i-code">0xe88b</span></div>
		    <div title="Code: 0xe89e" class="the-icons small-6 large-3 unit"><i class="icon-right-open"></i> <code><span class="i-name">icon-right-open</span></code><span class="i-code">0xe89e</span></div>
		    <div title="Code: 0xe925" class="the-icons small-6 large-3 unit"><i class="icon-clipboard"></i> <code><span class="i-name">icon-clipboard</span></code><span class="i-code">0xe925</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe84b" class="the-icons small-6 large-3 unit"><i class="icon-upload-cloud"></i> <code><span class="i-name">icon-upload-cloud</span></code><span class="i-code">0xe84b</span></div>
		    <div title="Code: 0xe84f" class="the-icons small-6 large-3 unit"><i class="icon-code-outline"></i> <code><span class="i-name">icon-code-outline</span></code><span class="i-code">0xe84f</span></div>
		    <div title="Code: 0xe860" class="the-icons small-6 large-3 unit"><i class="icon-code"></i> <code><span class="i-name">icon-code</span></code><span class="i-code">0xe860</span></div>
		    <div title="Code: 0xe912" class="the-icons small-6 large-3 unit"><i class="icon-coffee"></i> <code><span class="i-name">icon-coffee</span></code><span class="i-code">0xe912</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe877" class="the-icons small-6 large-3 unit"><i class="icon-cog-outline"></i> <code><span class="i-name">icon-cog-outline</span></code><span class="i-code">0xe877</span></div>
		    <div title="Code: 0xe865" class="the-icons small-6 large-3 unit"><i class="icon-compass"></i> <code><span class="i-name">icon-compass</span></code><span class="i-code">0xe865</span></div>
		    <div title="Code: 0xe853" class="the-icons small-6 large-3 unit"><i class="icon-contacts"></i> <code><span class="i-name">icon-contacts</span></code><span class="i-code">0xe853</span></div>
		    <div title="Code: 0xe924" class="the-icons small-6 large-3 unit"><i class="icon-credit-card"></i> <code><span class="i-name">icon-credit-card</span></code><span class="i-code">0xe924</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe84a" class="the-icons small-6 large-3 unit"><i class="icon-upload-cloud-outline"></i> <code><span class="i-name">icon-upload-cloud-outline</span></code><span class="i-code">0xe84a</span></div>
		    <div title="Code: 0xe927" class="the-icons small-6 large-3 unit"><i class="icon-database"></i> <code><span class="i-name">icon-database</span></code><span class="i-code">0xe927</span></div>
		    <div title="Code: 0xe819" class="the-icons small-6 large-3 unit"><i class="icon-cancel-circled"></i> <code><span class="i-name">icon-cancel-circled</span></code><span class="i-code">0xe819</span></div>
		    <div title="Code: 0xe8c7" class="the-icons small-6 large-3 unit"><i class="icon-desktop"></i> <code><span class="i-name">icon-desktop</span></code><span class="i-code">0xe8c7</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8c8" class="the-icons small-6 large-3 unit"><i class="icon-laptop"></i> <code><span class="i-name">icon-laptop</span></code><span class="i-code">0xe8c8</span></div>
		    <div title="Code: 0xe8c9" class="the-icons small-6 large-3 unit"><i class="icon-tablet"></i> <code><span class="i-name">icon-tablet</span></code><span class="i-code">0xe8c9</span></div>
		    <div title="Code: 0xe851" class="the-icons small-6 large-3 unit"><i class="icon-address"></i> <code><span class="i-name">icon-address</span></code><span class="i-code">0xe851</span></div>
		    <div title="Code: 0xe82c" class="the-icons small-6 large-3 unit"><i class="icon-divide-outline"></i> <code><span class="i-name">icon-divide-outline</span></code><span class="i-code">0xe82c</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe82d" class="the-icons small-6 large-3 unit"><i class="icon-divide"></i> <code><span class="i-name">icon-divide</span></code><span class="i-code">0xe82d</span></div>
		    <div title="Code: 0xe871" class="the-icons small-6 large-3 unit"><i class="icon-doc-add"></i> <code><span class="i-name">icon-doc-add</span></code><span class="i-code">0xe871</span></div>
		    <div title="Code: 0xe872" class="the-icons small-6 large-3 unit"><i class="icon-doc-remove"></i> <code><span class="i-name">icon-doc-remove</span></code><span class="i-code">0xe872</span></div>
		    <div title="Code: 0xe868" class="the-icons small-6 large-3 unit"><i class="icon-doc-text"></i> <code><span class="i-name">icon-doc-text</span></code><span class="i-code">0xe868</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe867" class="the-icons small-6 large-3 unit"><i class="icon-doc"></i> <code><span class="i-name">icon-doc</span></code><span class="i-code">0xe867</span></div>
		    <div title="Code: 0xe846" class="the-icons small-6 large-3 unit"><i class="icon-download-outline"></i> <code><span class="i-name">icon-download-outline</span></code><span class="i-code">0xe846</span></div>
		    <div title="Code: 0xe85c" class="the-icons small-6 large-3 unit"><i class="icon-edit"></i> <code><span class="i-name">icon-edit</span></code><span class="i-code">0xe85c</span></div>
		    <div title="Code: 0xe8b8" class="the-icons small-6 large-3 unit"><i class="icon-eject-outline"></i> <code><span class="i-name">icon-eject-outline</span></code><span class="i-code">0xe8b8</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8b7" class="the-icons small-6 large-3 unit"><i class="icon-eject"></i> <code><span class="i-name">icon-eject</span></code><span class="i-code">0xe8b7</span></div>
		    <div title="Code: 0xe82e" class="the-icons small-6 large-3 unit"><i class="icon-eq-outline"></i> <code><span class="i-name">icon-eq-outline</span></code><span class="i-code">0xe82e</span></div>
		    <div title="Code: 0xe82f" class="the-icons small-6 large-3 unit"><i class="icon-eq"></i> <code><span class="i-name">icon-eq</span></code><span class="i-code">0xe82f</span></div>
		    <div title="Code: 0xe85f" class="the-icons small-6 large-3 unit"><i class="icon-export"></i> <code><span class="i-name">icon-export</span></code><span class="i-code">0xe85f</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe83e" class="the-icons small-6 large-3 unit"><i class="icon-eye-outline"></i> <code><span class="i-name">icon-eye-outline</span></code><span class="i-code">0xe83e</span></div>
		    <div title="Code: 0xe83f" class="the-icons small-6 large-3 unit"><i class="icon-eye"></i> <code><span class="i-name">icon-eye</span></code><span class="i-code">0xe83f</span></div>
		    <div title="Code: 0xe814" class="the-icons small-6 large-3 unit"><i class="icon-video"></i> <code><span class="i-name">icon-video</span></code><span class="i-code">0xe814</span></div>
		    <div title="Code: 0xe842" class="the-icons small-6 large-3 unit"><i class="icon-flag"></i> <code><span class="i-name">icon-flag</span></code><span class="i-code">0xe842</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe843" class="the-icons small-6 large-3 unit"><i class="icon-flag-filled"></i> <code><span class="i-name">icon-flag-filled</span></code><span class="i-code">0xe843</span></div>
		    <div title="Code: 0xe8d1" class="the-icons small-6 large-3 unit"><i class="icon-flash-outline"></i> <code><span class="i-name">icon-flash-outline</span></code><span class="i-code">0xe8d1</span></div>
		    <div title="Code: 0xe92a" class="the-icons small-6 large-3 unit"><i class="icon-flow-split"></i> <code><span class="i-name">icon-flow-split</span></code><span class="i-code">0xe92a</span></div>
		    <div title="Code: 0xe92b" class="the-icons small-6 large-3 unit"><i class="icon-flow-merge"></i> <code><span class="i-name">icon-flow-merge</span></code><span class="i-code">0xe92b</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe92c" class="the-icons small-6 large-3 unit"><i class="icon-flow-parallel"></i> <code><span class="i-name">icon-flow-parallel</span></code><span class="i-code">0xe92c</span></div>
		    <div title="Code: 0xe92d" class="the-icons small-6 large-3 unit"><i class="icon-flow-cross"></i> <code><span class="i-name">icon-flow-cross</span></code><span class="i-code">0xe92d</span></div>
		    <div title="Code: 0xe86a" class="the-icons small-6 large-3 unit"><i class="icon-folder-add"></i> <code><span class="i-name">icon-folder-add</span></code><span class="i-code">0xe86a</span></div>
		    <div title="Code: 0xe86b" class="the-icons small-6 large-3 unit"><i class="icon-folder-delete"></i> <code><span class="i-name">icon-folder-delete</span></code><span class="i-code">0xe86b</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe869" class="the-icons small-6 large-3 unit"><i class="icon-folder"></i> <code><span class="i-name">icon-folder</span></code><span class="i-code">0xe869</span></div>
		    <div title="Code: 0xe919" class="the-icons small-6 large-3 unit"><i class="icon-gift"></i> <code><span class="i-name">icon-gift</span></code><span class="i-code">0xe919</span></div>
		    <div title="Code: 0xe8cd" class="the-icons small-6 large-3 unit"><i class="icon-globe-alt-outline"></i> <code><span class="i-name">icon-globe-alt-outline</span></code><span class="i-code">0xe8cd</span></div>
		    <div title="Code: 0xe80e" class="the-icons small-6 large-3 unit"><i class="icon-users-outline"></i> <code><span class="i-name">icon-users-outline</span></code><span class="i-code">0xe80e</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe812" class="the-icons small-6 large-3 unit"><i class="icon-users"></i> <code><span class="i-name">icon-users</span></code><span class="i-code">0xe812</span></div>
		    <div title="Code: 0xe884" class="the-icons small-6 large-3 unit"><i class="icon-headphones"></i> <code><span class="i-name">icon-headphones</span></code><span class="i-code">0xe884</span></div>
		    <div title="Code: 0xe808" class="the-icons small-6 large-3 unit"><i class="icon-heart"></i> <code><span class="i-name">icon-heart</span></code><span class="i-code">0xe808</span></div>
		    <div title="Code: 0xe809" class="the-icons small-6 large-3 unit"><i class="icon-heart-filled"></i> <code><span class="i-name">icon-heart-filled</span></code><span class="i-code">0xe809</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe832" class="the-icons small-6 large-3 unit"><i class="icon-home-outline"></i> <code><span class="i-name">icon-home-outline</span></code><span class="i-code">0xe832</span></div>
		    <div title="Code: 0xe833" class="the-icons small-6 large-3 unit"><i class="icon-home"></i> <code><span class="i-name">icon-home</span></code><span class="i-code">0xe833</span></div>
		    <div title="Code: 0xe81a" class="the-icons small-6 large-3 unit"><i class="icon-picture-outline"></i> <code><span class="i-name">icon-picture-outline</span></code><span class="i-code">0xe81a</span></div>
		    <div title="Code: 0xe81b" class="the-icons small-6 large-3 unit"><i class="icon-picture"></i> <code><span class="i-name">icon-picture</span></code><span class="i-code">0xe81b</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe90a" class="the-icons small-6 large-3 unit"><i class="icon-infinity-outline"></i> <code><span class="i-name">icon-infinity-outline</span></code><span class="i-code">0xe90a</span></div>
		    <div title="Code: 0xe830" class="the-icons small-6 large-3 unit"><i class="icon-info-outline"></i> <code><span class="i-name">icon-info-outline</span></code><span class="i-code">0xe830</span></div>
		    <div title="Code: 0xe831" class="the-icons small-6 large-3 unit"><i class="icon-info"></i> <code><span class="i-name">icon-info</span></code><span class="i-code">0xe831</span></div>
		    <div title="Code: 0xe856" class="the-icons small-6 large-3 unit"><i class="icon-attention"></i> <code><span class="i-name">icon-attention</span></code><span class="i-code">0xe856</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8d5" class="the-icons small-6 large-3 unit"><i class="icon-check-outline"></i> <code><span class="i-name">icon-check-outline</span></code><span class="i-code">0xe8d5</span></div>
		    <div title="Code: 0xe8d4" class="the-icons small-6 large-3 unit"><i class="icon-check"></i> <code><span class="i-name">icon-check</span></code><span class="i-code">0xe8d4</span></div>
		    <div title="Code: 0xe928" class="the-icons small-6 large-3 unit"><i class="icon-key-outline"></i> <code><span class="i-name">icon-key-outline</span></code><span class="i-code">0xe928</span></div>
		    <div title="Code: 0xe8dc" class="the-icons small-6 large-3 unit"><i class="icon-leaf"></i> <code><span class="i-name">icon-leaf</span></code><span class="i-code">0xe8dc</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe888" class="the-icons small-6 large-3 unit"><i class="icon-lightbulb"></i> <code><span class="i-name">icon-lightbulb</span></code><span class="i-code">0xe888</span></div>
		    <div title="Code: 0xe834" class="the-icons small-6 large-3 unit"><i class="icon-link-outline"></i> <code><span class="i-name">icon-link-outline</span></code><span class="i-code">0xe834</span></div>
		    <div title="Code: 0xe835" class="the-icons small-6 large-3 unit"><i class="icon-link"></i> <code><span class="i-name">icon-link</span></code><span class="i-code">0xe835</span></div>
		    <div title="Code: 0xe863" class="the-icons small-6 large-3 unit"><i class="icon-direction-outline"></i> <code><span class="i-name">icon-direction-outline</span></code><span class="i-code">0xe863</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe864" class="the-icons small-6 large-3 unit"><i class="icon-direction-1"></i> <code><span class="i-name">icon-direction-1</span></code><span class="i-code">0xe864</span></div>
		    <div title="Code: 0xe850" class="the-icons small-6 large-3 unit"><i class="icon-location-outline"></i> <code><span class="i-name">icon-location-outline</span></code><span class="i-code">0xe850</span></div>
		    <div title="Code: 0xe861" class="the-icons small-6 large-3 unit"><i class="icon-location"></i> <code><span class="i-name">icon-location</span></code><span class="i-code">0xe861</span></div>
		    <div title="Code: 0xe838" class="the-icons small-6 large-3 unit"><i class="icon-lock"></i> <code><span class="i-name">icon-lock</span></code><span class="i-code">0xe838</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe83d" class="the-icons small-6 large-3 unit"><i class="icon-lock-filled"></i> <code><span class="i-name">icon-lock-filled</span></code><span class="i-code">0xe83d</span></div>
		    <div title="Code: 0xe839" class="the-icons small-6 large-3 unit"><i class="icon-lock-open"></i> <code><span class="i-name">icon-lock-open</span></code><span class="i-code">0xe839</span></div>
		    <div title="Code: 0xe83a" class="the-icons small-6 large-3 unit"><i class="icon-lock-open-filled"></i> <code><span class="i-name">icon-lock-open-filled</span></code><span class="i-code">0xe83a</span></div>
		    <div title="Code: 0xe807" class="the-icons small-6 large-3 unit"><i class="icon-mail"></i> <code><span class="i-name">icon-mail</span></code><span class="i-code">0xe807</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe862" class="the-icons small-6 large-3 unit"><i class="icon-map"></i> <code><span class="i-name">icon-map</span></code><span class="i-code">0xe862</span></div>
		    <div title="Code: 0xe8b6" class="the-icons small-6 large-3 unit"><i class="icon-eject-alt-outline"></i> <code><span class="i-name">icon-eject-alt-outline</span></code><span class="i-code">0xe8b6</span></div>
		    <div title="Code: 0xe8b5" class="the-icons small-6 large-3 unit"><i class="icon-eject-alt"></i> <code><span class="i-name">icon-eject-alt</span></code><span class="i-code">0xe8b5</span></div>
		    <div title="Code: 0xe8be" class="the-icons small-6 large-3 unit"><i class="icon-fast-fw-outline"></i> <code><span class="i-name">icon-fast-fw-outline</span></code><span class="i-code">0xe8be</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8bd" class="the-icons small-6 large-3 unit"><i class="icon-fast-fw"></i> <code><span class="i-name">icon-fast-fw</span></code><span class="i-code">0xe8bd</span></div>
		    <div title="Code: 0xe8c0" class="the-icons small-6 large-3 unit"><i class="icon-pause-outline"></i> <code><span class="i-name">icon-pause-outline</span></code><span class="i-code">0xe8c0</span></div>
		    <div title="Code: 0xe8bf" class="the-icons small-6 large-3 unit"><i class="icon-pause"></i> <code><span class="i-name">icon-pause</span></code><span class="i-code">0xe8bf</span></div>
		    <div title="Code: 0xe8b0" class="the-icons small-6 large-3 unit"><i class="icon-play-outline"></i> <code><span class="i-name">icon-play-outline</span></code><span class="i-code">0xe8b0</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8c3" class="the-icons small-6 large-3 unit"><i class="icon-play"></i> <code><span class="i-name">icon-play</span></code><span class="i-code">0xe8c3</span></div>
		    <div title="Code: 0xe8ba" class="the-icons small-6 large-3 unit"><i class="icon-record-outline"></i> <code><span class="i-name">icon-record-outline</span></code><span class="i-code">0xe8ba</span></div>
		    <div title="Code: 0xe8b9" class="the-icons small-6 large-3 unit"><i class="icon-record"></i> <code><span class="i-name">icon-record</span></code><span class="i-code">0xe8b9</span></div>
		    <div title="Code: 0xe8bc" class="the-icons small-6 large-3 unit"><i class="icon-rewind-outline"></i> <code><span class="i-name">icon-rewind-outline</span></code><span class="i-code">0xe8bc</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8bb" class="the-icons small-6 large-3 unit"><i class="icon-rewind"></i> <code><span class="i-name">icon-rewind</span></code><span class="i-code">0xe8bb</span></div>
		    <div title="Code: 0xe8c2" class="the-icons small-6 large-3 unit"><i class="icon-stop-outline"></i> <code><span class="i-name">icon-stop-outline</span></code><span class="i-code">0xe8c2</span></div>
		    <div title="Code: 0xe8c1" class="the-icons small-6 large-3 unit"><i class="icon-stop"></i> <code><span class="i-name">icon-stop</span></code><span class="i-code">0xe8c1</span></div>
		    <div title="Code: 0xe859" class="the-icons small-6 large-3 unit"><i class="icon-chat"></i> <code><span class="i-name">icon-chat</span></code><span class="i-code">0xe859</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe85a" class="the-icons small-6 large-3 unit"><i class="icon-comment"></i> <code><span class="i-name">icon-comment</span></code><span class="i-code">0xe85a</span></div>
		    <div title="Code: 0xe858" class="the-icons small-6 large-3 unit"><i class="icon-chat-alt"></i> <code><span class="i-name">icon-chat-alt</span></code><span class="i-code">0xe858</span></div>
		    <div title="Code: 0xe87e" class="the-icons small-6 large-3 unit"><i class="icon-mic-outline"></i> <code><span class="i-name">icon-mic-outline</span></code><span class="i-code">0xe87e</span></div>
		    <div title="Code: 0xe82a" class="the-icons small-6 large-3 unit"><i class="icon-minus-outline"></i> <code><span class="i-name">icon-minus-outline</span></code><span class="i-code">0xe82a</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe82b" class="the-icons small-6 large-3 unit"><i class="icon-minus"></i> <code><span class="i-name">icon-minus</span></code><span class="i-code">0xe82b</span></div>
		    <div title="Code: 0xe873" class="the-icons small-6 large-3 unit"><i class="icon-news"></i> <code><span class="i-name">icon-news</span></code><span class="i-code">0xe873</span></div>
		    <div title="Code: 0xe802" class="the-icons small-6 large-3 unit"><i class="icon-music-outline"></i> <code><span class="i-name">icon-music-outline</span></code><span class="i-code">0xe802</span></div>
		    <div title="Code: 0xe804" class="the-icons small-6 large-3 unit"><i class="icon-music"></i> <code><span class="i-name">icon-music</span></code><span class="i-code">0xe804</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe85d" class="the-icons small-6 large-3 unit"><i class="icon-pen"></i> <code><span class="i-name">icon-pen</span></code><span class="i-code">0xe85d</span></div>
		    <div title="Code: 0xe86f" class="the-icons small-6 large-3 unit"><i class="icon-phone-outline"></i> <code><span class="i-name">icon-phone-outline</span></code><span class="i-code">0xe86f</span></div>
		    <div title="Code: 0xe908" class="the-icons small-6 large-3 unit"><i class="icon-pi-outline"></i> <code><span class="i-name">icon-pi-outline</span></code><span class="i-code">0xe908</span></div>
		    <div title="Code: 0xe907" class="the-icons small-6 large-3 unit"><i class="icon-pi"></i> <code><span class="i-name">icon-pi</span></code><span class="i-code">0xe907</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe83b" class="the-icons small-6 large-3 unit"><i class="icon-pin-outline"></i> <code><span class="i-name">icon-pin-outline</span></code><span class="i-code">0xe83b</span></div>
		    <div title="Code: 0xe83c" class="the-icons small-6 large-3 unit"><i class="icon-pin"></i> <code><span class="i-name">icon-pin</span></code><span class="i-code">0xe83c</span></div>
		    <div title="Code: 0xe8d8" class="the-icons small-6 large-3 unit"><i class="icon-pipette"></i> <code><span class="i-name">icon-pipette</span></code><span class="i-code">0xe8d8</span></div>
		    <div title="Code: 0xe8de" class="the-icons small-6 large-3 unit"><i class="icon-plane-outline"></i> <code><span class="i-name">icon-plane-outline</span></code><span class="i-code">0xe8de</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8dd" class="the-icons small-6 large-3 unit"><i class="icon-plane"></i> <code><span class="i-name">icon-plane</span></code><span class="i-code">0xe8dd</span></div>
		    <div title="Code: 0xe8ea" class="the-icons small-6 large-3 unit"><i class="icon-plug"></i> <code><span class="i-name">icon-plug</span></code><span class="i-code">0xe8ea</span></div>
		    <div title="Code: 0xe818" class="the-icons small-6 large-3 unit"><i class="icon-plus-outline"></i> <code><span class="i-name">icon-plus-outline</span></code><span class="i-code">0xe818</span></div>
		    <div title="Code: 0xe817" class="the-icons small-6 large-3 unit"><i class="icon-plus"></i> <code><span class="i-name">icon-plus</span></code><span class="i-code">0xe817</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8f3" class="the-icons small-6 large-3 unit"><i class="icon-looped-square-outline"></i> <code><span class="i-name">icon-looped-square-outline</span></code><span class="i-code">0xe8f3</span></div>
		    <div title="Code: 0xe8f4" class="the-icons small-6 large-3 unit"><i class="icon-looped-square-interest"></i> <code><span class="i-name">icon-looped-square-interest</span></code><span class="i-code">0xe8f4</span></div>
		    <div title="Code: 0xe8d7" class="the-icons small-6 large-3 unit"><i class="icon-power-outline"></i> <code><span class="i-name">icon-power-outline</span></code><span class="i-code">0xe8d7</span></div>
		    <div title="Code: 0xe8d6" class="the-icons small-6 large-3 unit"><i class="icon-power"></i> <code><span class="i-name">icon-power</span></code><span class="i-code">0xe8d6</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe85b" class="the-icons small-6 large-3 unit"><i class="icon-print"></i> <code><span class="i-name">icon-print</span></code><span class="i-code">0xe85b</span></div>
		    <div title="Code: 0xe90e" class="the-icons small-6 large-3 unit"><i class="icon-puzzle-outline"></i> <code><span class="i-name">icon-puzzle-outline</span></code><span class="i-code">0xe90e</span></div>
		    <div title="Code: 0xe90d" class="the-icons small-6 large-3 unit"><i class="icon-puzzle"></i> <code><span class="i-name">icon-puzzle</span></code><span class="i-code">0xe90d</span></div>
		    <div title="Code: 0xe8c4" class="the-icons small-6 large-3 unit"><i class="icon-target-outline"></i> <code><span class="i-name">icon-target-outline</span></code><span class="i-code">0xe8c4</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8a5" class="the-icons small-6 large-3 unit"><i class="icon-cw-outline"></i> <code><span class="i-name">icon-cw-outline</span></code><span class="i-code">0xe8a5</span></div>
		    <div title="Code: 0xe874" class="the-icons small-6 large-3 unit"><i class="icon-rss-outline"></i> <code><span class="i-name">icon-rss-outline</span></code><span class="i-code">0xe874</span></div>
		    <div title="Code: 0xe86e" class="the-icons small-6 large-3 unit"><i class="icon-rss"></i> <code><span class="i-name">icon-rss</span></code><span class="i-code">0xe86e</span></div>
		    <div title="Code: 0xe916" class="the-icons small-6 large-3 unit"><i class="icon-scissors-outline"></i> <code><span class="i-name">icon-scissors-outline</span></code><span class="i-code">0xe916</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe86d" class="the-icons small-6 large-3 unit"><i class="icon-box"></i> <code><span class="i-name">icon-box</span></code><span class="i-code">0xe86d</span></div>
		    <div title="Code: 0xe87b" class="the-icons small-6 large-3 unit"><i class="icon-basket"></i> <code><span class="i-name">icon-basket</span></code><span class="i-code">0xe87b</span></div>
		    <div title="Code: 0xe905" class="the-icons small-6 large-3 unit"><i class="icon-at-circled"></i> <code><span class="i-name">icon-at-circled</span></code><span class="i-code">0xe905</span></div>
		    <div title="Code: 0xe8f9" class="the-icons small-6 large-3 unit"><i class="icon-dribbble-circled"></i> <code><span class="i-name">icon-dribbble-circled</span></code><span class="i-code">0xe8f9</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8fa" class="the-icons small-6 large-3 unit"><i class="icon-dribbble"></i> <code><span class="i-name">icon-dribbble</span></code><span class="i-code">0xe8fa</span></div>
		    <div title="Code: 0xe913" class="the-icons small-6 large-3 unit"><i class="icon-facebook-circled"></i> <code><span class="i-name">icon-facebook-circled</span></code><span class="i-code">0xe913</span></div>
		    <div title="Code: 0xe8fb" class="the-icons small-6 large-3 unit"><i class="icon-facebook"></i> <code><span class="i-name">icon-facebook</span></code><span class="i-code">0xe8fb</span></div>
		    <div title="Code: 0xe8fc" class="the-icons small-6 large-3 unit"><i class="icon-flickr-circled"></i> <code><span class="i-name">icon-flickr-circled</span></code><span class="i-code">0xe8fc</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8fd" class="the-icons small-6 large-3 unit"><i class="icon-flickr"></i> <code><span class="i-name">icon-flickr</span></code><span class="i-code">0xe8fd</span></div>
		    <div title="Code: 0xe8fe" class="the-icons small-6 large-3 unit"><i class="icon-github-circled"></i> <code><span class="i-name">icon-github-circled</span></code><span class="i-code">0xe8fe</span></div>
		    <div title="Code: 0xe8ff" class="the-icons small-6 large-3 unit"><i class="icon-github"></i> <code><span class="i-name">icon-github</span></code><span class="i-code">0xe8ff</span></div>
		    <div title="Code: 0xe900" class="the-icons small-6 large-3 unit"><i class="icon-lastfm-circled"></i> <code><span class="i-name">icon-lastfm-circled</span></code><span class="i-code">0xe900</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe92e" class="the-icons small-6 large-3 unit"><i class="icon-lastfm"></i> <code><span class="i-name">icon-lastfm</span></code><span class="i-code">0xe92e</span></div>
		    <div title="Code: 0xe901" class="the-icons small-6 large-3 unit"><i class="icon-linkedin-circled"></i> <code><span class="i-name">icon-linkedin-circled</span></code><span class="i-code">0xe901</span></div>
		    <div title="Code: 0xe902" class="the-icons small-6 large-3 unit"><i class="icon-linkedin"></i> <code><span class="i-name">icon-linkedin</span></code><span class="i-code">0xe902</span></div>
		    <div title="Code: 0xe903" class="the-icons small-6 large-3 unit"><i class="icon-pinterest-circled"></i> <code><span class="i-name">icon-pinterest-circled</span></code><span class="i-code">0xe903</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe904" class="the-icons small-6 large-3 unit"><i class="icon-pinterest"></i> <code><span class="i-name">icon-pinterest</span></code><span class="i-code">0xe904</span></div>
		    <div title="Code: 0xe8f2" class="the-icons small-6 large-3 unit"><i class="icon-skype-outline"></i> <code><span class="i-name">icon-skype-outline</span></code><span class="i-code">0xe8f2</span></div>
		    <div title="Code: 0xe8f1" class="the-icons small-6 large-3 unit"><i class="icon-skype"></i> <code><span class="i-name">icon-skype</span></code><span class="i-code">0xe8f1</span></div>
		    <div title="Code: 0xe8ef" class="the-icons small-6 large-3 unit"><i class="icon-tumbler-circled"></i> <code><span class="i-name">icon-tumbler-circled</span></code><span class="i-code">0xe8ef</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8f0" class="the-icons small-6 large-3 unit"><i class="icon-tumbler"></i> <code><span class="i-name">icon-tumbler</span></code><span class="i-code">0xe8f0</span></div>
		    <div title="Code: 0xe8ee" class="the-icons small-6 large-3 unit"><i class="icon-twitter-circled"></i> <code><span class="i-name">icon-twitter-circled</span></code><span class="i-code">0xe8ee</span></div>
		    <div title="Code: 0xe8ed" class="the-icons small-6 large-3 unit"><i class="icon-twitter"></i> <code><span class="i-name">icon-twitter</span></code><span class="i-code">0xe8ed</span></div>
		    <div title="Code: 0xe8ec" class="the-icons small-6 large-3 unit"><i class="icon-vimeo-circled"></i> <code><span class="i-name">icon-vimeo-circled</span></code><span class="i-code">0xe8ec</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8eb" class="the-icons small-6 large-3 unit"><i class="icon-vimeo"></i> <code><span class="i-name">icon-vimeo</span></code><span class="i-code">0xe8eb</span></div>
		    <div title="Code: 0xe8f5" class="the-icons small-6 large-3 unit"><i class="icon-sort-alphabet-outline"></i> <code><span class="i-name">icon-sort-alphabet-outline</span></code><span class="i-code">0xe8f5</span></div>
		    <div title="Code: 0xe8f6" class="the-icons small-6 large-3 unit"><i class="icon-sort-alphabet"></i> <code><span class="i-name">icon-sort-alphabet</span></code><span class="i-code">0xe8f6</span></div>
		    <div title="Code: 0xe8f7" class="the-icons small-6 large-3 unit"><i class="icon-sort-numeric-outline"></i> <code><span class="i-name">icon-sort-numeric-outline</span></code><span class="i-code">0xe8f7</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8f8" class="the-icons small-6 large-3 unit"><i class="icon-sort-numeric"></i> <code><span class="i-name">icon-sort-numeric</span></code><span class="i-code">0xe8f8</span></div>
		    <div title="Code: 0xe879" class="the-icons small-6 large-3 unit"><i class="icon-wrench-outline"></i> <code><span class="i-name">icon-wrench-outline</span></code><span class="i-code">0xe879</span></div>
		    <div title="Code: 0xe80a" class="the-icons small-6 large-3 unit"><i class="icon-star"></i> <code><span class="i-name">icon-star</span></code><span class="i-code">0xe80a</span></div>
		    <div title="Code: 0xe80b" class="the-icons small-6 large-3 unit"><i class="icon-star-filled"></i> <code><span class="i-name">icon-star-filled</span></code><span class="i-code">0xe80b</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe914" class="the-icons small-6 large-3 unit"><i class="icon-certificate-outline"></i> <code><span class="i-name">icon-certificate-outline</span></code><span class="i-code">0xe914</span></div>
		    <div title="Code: 0xe915" class="the-icons small-6 large-3 unit"><i class="icon-certificate"></i> <code><span class="i-name">icon-certificate</span></code><span class="i-code">0xe915</span></div>
		    <div title="Code: 0xe887" class="the-icons small-6 large-3 unit"><i class="icon-stopwatch"></i> <code><span class="i-name">icon-stopwatch</span></code><span class="i-code">0xe887</span></div>
		    <div title="Code: 0xe8db" class="the-icons small-6 large-3 unit"><i class="icon-lifebuoy"></i> <code><span class="i-name">icon-lifebuoy</span></code><span class="i-code">0xe8db</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe893" class="the-icons small-6 large-3 unit"><i class="icon-popup-1"></i> <code><span class="i-name">icon-popup-1</span></code><span class="i-code">0xe893</span></div>
		    <div title="Code: 0xe840" class="the-icons small-6 large-3 unit"><i class="icon-tag"></i> <code><span class="i-name">icon-tag</span></code><span class="i-code">0xe840</span></div>
		    <div title="Code: 0xe820" class="the-icons small-6 large-3 unit"><i class="icon-th-large-outline"></i> <code><span class="i-name">icon-th-large-outline</span></code><span class="i-code">0xe820</span></div>
		    <div title="Code: 0xe821" class="the-icons small-6 large-3 unit"><i class="icon-th-large"></i> <code><span class="i-name">icon-th-large</span></code><span class="i-code">0xe821</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe822" class="the-icons small-6 large-3 unit"><i class="icon-th-list-outline"></i> <code><span class="i-name">icon-th-list-outline</span></code><span class="i-code">0xe822</span></div>
		    <div title="Code: 0xe823" class="the-icons small-6 large-3 unit"><i class="icon-th-list"></i> <code><span class="i-name">icon-th-list</span></code><span class="i-code">0xe823</span></div>
		    <div title="Code: 0xe875" class="the-icons small-6 large-3 unit"><i class="icon-menu-outline"></i> <code><span class="i-name">icon-menu-outline</span></code><span class="i-code">0xe875</span></div>
		    <div title="Code: 0xe876" class="the-icons small-6 large-3 unit"><i class="icon-menu"></i> <code><span class="i-name">icon-menu</span></code><span class="i-code">0xe876</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe81e" class="the-icons small-6 large-3 unit"><i class="icon-th-outline"></i> <code><span class="i-name">icon-th-outline</span></code><span class="i-code">0xe81e</span></div>
		    <div title="Code: 0xe81f" class="the-icons small-6 large-3 unit"><i class="icon-th"></i> <code><span class="i-name">icon-th</span></code><span class="i-code">0xe81f</span></div>
		    <div title="Code: 0xe91a" class="the-icons small-6 large-3 unit"><i class="icon-temperatire"></i> <code><span class="i-name">icon-temperatire</span></code><span class="i-code">0xe91a</span></div>
		    <div title="Code: 0xe824" class="the-icons small-6 large-3 unit"><i class="icon-ok-outline"></i> <code><span class="i-name">icon-ok-outline</span></code><span class="i-code">0xe824</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe825" class="the-icons small-6 large-3 unit"><i class="icon-ok"></i> <code><span class="i-name">icon-ok</span></code><span class="i-code">0xe825</span></div>
		    <div title="Code: 0xe923" class="the-icons small-6 large-3 unit"><i class="icon-ticket"></i> <code><span class="i-name">icon-ticket</span></code><span class="i-code">0xe923</span></div>
		    <div title="Code: 0xe826" class="the-icons small-6 large-3 unit"><i class="icon-cancel-outline"></i> <code><span class="i-name">icon-cancel-outline</span></code><span class="i-code">0xe826</span></div>
		    <div title="Code: 0xe827" class="the-icons small-6 large-3 unit"><i class="icon-cancel"></i> <code><span class="i-name">icon-cancel</span></code><span class="i-code">0xe827</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe866" class="the-icons small-6 large-3 unit"><i class="icon-trash"></i> <code><span class="i-name">icon-trash</span></code><span class="i-code">0xe866</span></div>
		    <div title="Code: 0xe90c" class="the-icons small-6 large-3 unit"><i class="icon-tree"></i> <code><span class="i-name">icon-tree</span></code><span class="i-code">0xe90c</span></div>
		    <div title="Code: 0xe848" class="the-icons small-6 large-3 unit"><i class="icon-upload-outline"></i> <code><span class="i-name">icon-upload-outline</span></code><span class="i-code">0xe848</span></div>
		    <div title="Code: 0xe849" class="the-icons small-6 large-3 unit"><i class="icon-upload"></i> <code><span class="i-name">icon-upload</span></code><span class="i-code">0xe849</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe80f" class="the-icons small-6 large-3 unit"><i class="icon-user-add-outline"></i> <code><span class="i-name">icon-user-add-outline</span></code><span class="i-code">0xe80f</span></div>
		    <div title="Code: 0xe810" class="the-icons small-6 large-3 unit"><i class="icon-user-add"></i> <code><span class="i-name">icon-user-add</span></code><span class="i-code">0xe810</span></div>
		    <div title="Code: 0xe811" class="the-icons small-6 large-3 unit"><i class="icon-user-delete-outline"></i> <code><span class="i-name">icon-user-delete-outline</span></code><span class="i-code">0xe811</span></div>
		    <div title="Code: 0xe813" class="the-icons small-6 large-3 unit"><i class="icon-user-delete"></i> <code><span class="i-name">icon-user-delete</span></code><span class="i-code">0xe813</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe80c" class="the-icons small-6 large-3 unit"><i class="icon-user-outline"></i> <code><span class="i-name">icon-user-outline</span></code><span class="i-code">0xe80c</span></div>
		    <div title="Code: 0xe80d" class="the-icons small-6 large-3 unit"><i class="icon-user"></i> <code><span class="i-name">icon-user</span></code><span class="i-code">0xe80d</span></div>
		    <div title="Code: 0xe815" class="the-icons small-6 large-3 unit"><i class="icon-videocam-outline"></i> <code><span class="i-name">icon-videocam-outline</span></code><span class="i-code">0xe815</span></div>
		    <div title="Code: 0xe816" class="the-icons small-6 large-3 unit"><i class="icon-videocam"></i> <code><span class="i-name">icon-videocam</span></code><span class="i-code">0xe816</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe882" class="the-icons small-6 large-3 unit"><i class="icon-volume-middle"></i> <code><span class="i-name">icon-volume-middle</span></code><span class="i-code">0xe882</span></div>
		    <div title="Code: 0xe880" class="the-icons small-6 large-3 unit"><i class="icon-volume-off"></i> <code><span class="i-name">icon-volume-off</span></code><span class="i-code">0xe880</span></div>
		    <div title="Code: 0xe883" class="the-icons small-6 large-3 unit"><i class="icon-volume-high"></i> <code><span class="i-name">icon-volume-high</span></code><span class="i-code">0xe883</span></div>
		    <div title="Code: 0xe881" class="the-icons small-6 large-3 unit"><i class="icon-volume-low"></i> <code><span class="i-name">icon-volume-low</span></code><span class="i-code">0xe881</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe855" class="the-icons small-6 large-3 unit"><i class="icon-warning-empty"></i> <code><span class="i-name">icon-warning-empty</span></code><span class="i-code">0xe855</span></div>
		    <div title="Code: 0xe854" class="the-icons small-6 large-3 unit"><i class="icon-warning"></i> <code><span class="i-name">icon-warning</span></code><span class="i-code">0xe854</span></div>
		    <div title="Code: 0xe886" class="the-icons small-6 large-3 unit"><i class="icon-wristwatch"></i> <code><span class="i-name">icon-wristwatch</span></code><span class="i-code">0xe886</span></div>
		    <div title="Code: 0xe8e7" class="the-icons small-6 large-3 unit"><i class="icon-waves-outline"></i> <code><span class="i-name">icon-waves-outline</span></code><span class="i-code">0xe8e7</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8e6" class="the-icons small-6 large-3 unit"><i class="icon-waves"></i> <code><span class="i-name">icon-waves</span></code><span class="i-code">0xe8e6</span></div>
		    <div title="Code: 0xe8d0" class="the-icons small-6 large-3 unit"><i class="icon-cloud"></i> <code><span class="i-name">icon-cloud</span></code><span class="i-code">0xe8d0</span></div>
		    <div title="Code: 0xe8e5" class="the-icons small-6 large-3 unit"><i class="icon-rain"></i> <code><span class="i-name">icon-rain</span></code><span class="i-code">0xe8e5</span></div>
		    <div title="Code: 0xe8d3" class="the-icons small-6 large-3 unit"><i class="icon-moon"></i> <code><span class="i-name">icon-moon</span></code><span class="i-code">0xe8d3</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8e4" class="the-icons small-6 large-3 unit"><i class="icon-cloud-sun"></i> <code><span class="i-name">icon-cloud-sun</span></code><span class="i-code">0xe8e4</span></div>
		    <div title="Code: 0xe8e3" class="the-icons small-6 large-3 unit"><i class="icon-drizzle"></i> <code><span class="i-name">icon-drizzle</span></code><span class="i-code">0xe8e3</span></div>
		    <div title="Code: 0xe8e2" class="the-icons small-6 large-3 unit"><i class="icon-snow"></i> <code><span class="i-name">icon-snow</span></code><span class="i-code">0xe8e2</span></div>
		    <div title="Code: 0xe8e1" class="the-icons small-6 large-3 unit"><i class="icon-cloud-flash"></i> <code><span class="i-name">icon-cloud-flash</span></code><span class="i-code">0xe8e1</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8e0" class="the-icons small-6 large-3 unit"><i class="icon-cloud-wind"></i> <code><span class="i-name">icon-cloud-wind</span></code><span class="i-code">0xe8e0</span></div>
		    <div title="Code: 0xe8df" class="the-icons small-6 large-3 unit"><i class="icon-wind"></i> <code><span class="i-name">icon-wind</span></code><span class="i-code">0xe8df</span></div>
		    <div title="Code: 0xe8c5" class="the-icons small-6 large-3 unit"><i class="icon-wifi-outline"></i> <code><span class="i-name">icon-wifi-outline</span></code><span class="i-code">0xe8c5</span></div>
		    <div title="Code: 0xe8c6" class="the-icons small-6 large-3 unit"><i class="icon-wifi"></i> <code><span class="i-name">icon-wifi</span></code><span class="i-code">0xe8c6</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe926" class="the-icons small-6 large-3 unit"><i class="icon-wine"></i> <code><span class="i-name">icon-wine</span></code><span class="i-code">0xe926</span></div>
		    <div title="Code: 0xe8e9" class="the-icons small-6 large-3 unit"><i class="icon-globe-outline"></i> <code><span class="i-name">icon-globe-outline</span></code><span class="i-code">0xe8e9</span></div>
		    <div title="Code: 0xe892" class="the-icons small-6 large-3 unit"><i class="icon-zoom-in-outline"></i> <code><span class="i-name">icon-zoom-in-outline</span></code><span class="i-code">0xe892</span></div>
		    <div title="Code: 0xe891" class="the-icons small-6 large-3 unit"><i class="icon-zoom-in"></i> <code><span class="i-name">icon-zoom-in</span></code><span class="i-code">0xe891</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe890" class="the-icons small-6 large-3 unit"><i class="icon-zoom-out-outline"></i> <code><span class="i-name">icon-zoom-out-outline</span></code><span class="i-code">0xe890</span></div>
		    <div title="Code: 0xe88f" class="the-icons small-6 large-3 unit"><i class="icon-zoom-out"></i> <code><span class="i-name">icon-zoom-out</span></code><span class="i-code">0xe88f</span></div>
		    <div title="Code: 0xe805" class="the-icons small-6 large-3 unit"><i class="icon-search-outline"></i> <code><span class="i-name">icon-search-outline</span></code><span class="i-code">0xe805</span></div>
		    <div title="Code: 0xe806" class="the-icons small-6 large-3 unit"><i class="icon-search"></i> <code><span class="i-name">icon-search</span></code><span class="i-code">0xe806</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe8cc" class="the-icons small-6 large-3 unit"><i class="icon-globe"></i> <code><span class="i-name">icon-globe</span></code><span class="i-code">0xe8cc</span></div>
		    <div title="Code: 0xe87f" class="the-icons small-6 large-3 unit"><i class="icon-mic"></i> <code><span class="i-name">icon-mic</span></code><span class="i-code">0xe87f</span></div>
		    <div title="Code: 0xe8e8" class="the-icons small-6 large-3 unit"><i class="icon-target"></i> <code><span class="i-name">icon-target</span></code><span class="i-code">0xe8e8</span></div>
		    <div title="Code: 0xe844" class="the-icons small-6 large-3 unit"><i class="icon-thumbs-up"></i> <code><span class="i-name">icon-thumbs-up</span></code><span class="i-code">0xe844</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe845" class="the-icons small-6 large-3 unit"><i class="icon-thumbs-down"></i> <code><span class="i-name">icon-thumbs-down</span></code><span class="i-code">0xe845</span></div>
		    <div title="Code: 0xe91c" class="the-icons small-6 large-3 unit"><i class="icon-chart"></i> <code><span class="i-name">icon-chart</span></code><span class="i-code">0xe91c</span></div>
		    <div title="Code: 0xe920" class="the-icons small-6 large-3 unit"><i class="icon-chart-bar"></i> <code><span class="i-name">icon-chart-bar</span></code><span class="i-code">0xe920</span></div>
		    <div title="Code: 0xe870" class="the-icons small-6 large-3 unit"><i class="icon-phone"></i> <code><span class="i-name">icon-phone</span></code><span class="i-code">0xe870</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe847" class="the-icons small-6 large-3 unit"><i class="icon-download"></i> <code><span class="i-name">icon-download</span></code><span class="i-code">0xe847</span></div>
		    <div title="Code: 0xe8ca" class="the-icons small-6 large-3 unit"><i class="icon-mobile"></i> <code><span class="i-name">icon-mobile</span></code><span class="i-code">0xe8ca</span></div>
		    <div title="Code: 0xe8af" class="the-icons small-6 large-3 unit"><i class="icon-shuffle"></i> <code><span class="i-name">icon-shuffle</span></code><span class="i-code">0xe8af</span></div>
		    <div title="Code: 0xe8ac" class="the-icons small-6 large-3 unit"><i class="icon-loop"></i> <code><span class="i-name">icon-loop</span></code><span class="i-code">0xe8ac</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe929" class="the-icons small-6 large-3 unit"><i class="icon-key"></i> <code><span class="i-name">icon-key</span></code><span class="i-code">0xe929</span></div>
		    <div title="Code: 0xe841" class="the-icons small-6 large-3 unit"><i class="icon-bookmark"></i> <code><span class="i-name">icon-bookmark</span></code><span class="i-code">0xe841</span></div>
		    <div title="Code: 0xe87a" class="the-icons small-6 large-3 unit"><i class="icon-wrench"></i> <code><span class="i-name">icon-wrench</span></code><span class="i-code">0xe87a</span></div>
		    <div title="Code: 0xe885" class="the-icons small-6 large-3 unit"><i class="icon-clock"></i> <code><span class="i-name">icon-clock</span></code><span class="i-code">0xe885</span></div>
		  </div>
		  <div class="grid">
		    <div title="Code: 0xe89b" class="the-icons small-6 large-3 unit"><i class="icon-block"></i> <code><span class="i-name">icon-block</span></code><span class="i-code">0xe89b</span></div>
		  </div>
		</div>
	</div>
</div>
<!-- / typicons  -->