<!-- intro -->
<div class="grid">
	<div class="small-12 unit">
		<p>While it does agree with many current concepts within metholodigies such as OOCSS, BEM and SMACSS, it differs in many ways rather than being fully addoptive.</p>
		<h4>Principles</h4>
		<h5>No #IDs</h5>
		Any unique identifies are wrote as classes <code>._foo</code>. For cases were Javascript must reference #IDs the prefix <code>#js-</code> is applied like so, <code>#js-foo</code>.
		<h5>Extendable differences</h5>
		This framework does not relate to long drawn out prefixed classes like <code>.foo-alt-hd-1-dark</code>.
	</div>
</div>
<!-- / intro -->