<ul class="nav nav-vertical nav-pill">
	<li {% if mixture.url == "#introduction" %}class="active"{% endif %}><a href="#introduction">Introduction</a></li>
	<li {% if mixture.url == "#typography" %}class="active"{% endif %}><a href="#typography">Typography</a></li>
	<li {% if mixture.url == "#tables" %}class="active"{% endif %}><a href="#tables">Tables</a></li>
	<li {% if mixture.url == "#forms" %}class="active"{% endif %}><a href="#forms">Forms</a></li>
	<li {% if mixture.url == "#buttons" %}class="active"{% endif %}><a href="#buttons">Buttons</a></li>
	<li {% if mixture.url == "#panels" %}class="active"{% endif %}><a href="#panels">Panels</a></li>
	<li {% if mixture.url == "#alerts" %}class="active"{% endif %}><a href="#alerts">Alerts</a></li>
	<li {% if mixture.url == "#progress-bars" %}class="active"{% endif %}><a href="#progress-bars">Progress Bars</a></li>
	<li {% if mixture.url == "#menus" %}class="active"{% endif %}><a href="#menus">Menus</a></li>
	<li {% if mixture.url == "#images" %}class="active"{% endif %}><a href="#images">Images</a></li>
	<li {% if mixture.url == "#breadcrumbs" %}class="active"{% endif %}><a href="#breadcrumbs">Breadcrumbs</a></li>
	<li {% if mixture.url == "#pagination" %}class="active"{% endif %}><a href="#pagination">Pagination</a></li>
	<li {% if mixture.url == "#icons" %}class="active"{% endif %}><a href="#icons">Icons</a></li>
</ul>

<a href="https://bitbucket.org/ulinaaron/dreadworks/get/version-0.2-alpha.zip" class="button success block round xxl">
	<i class="icon-download"></i> Download
	<span class="font-tiny">( version 0.2 alpha )</span>
</a>