<!-- panels -->
<div class="grid">
	<div class="small-12 unit">
		<a name="panels"></a>
		<h3>Panels</h3>
		<p>The panel mixin will change the font colors appropriately. So if the background is dark, the font colors will be light. In the same vien if the background is light the font color will be dark.</p>
		<!-- set 1 -->
		<div class="grid">
			<div class="small-12 large-4 unit">
				<div class="panel round">
					<h4>Plain Panel</h4>
					<code>panel</code>
					<p>Adipiscing sit placerat etiam amet ac a sit hac placerat.</p>
				</div>
			</div>
			<div class="small-12 large-4 unit">
				<div class="panel info round">
					<h4>Info Panel</h4>
					<code>panel info</code>
					<p>Adipiscing sit placerat etiam amet ac a sit hac placerat.</p>
				</div>
			</div>
			<div class="small-12 large-4 unit">
				<div class="panel success round">
					<h4>Success Panel</h4>
					<code>panel success</code>
					<p>Adipiscing sit placerat etiam amet ac a sit hac placerat.</p>
				</div>
			</div>
		</div>
		<!-- / set 1 -->
		<!-- set 2 -->
		<div class="grid">
			<div class="small-12 large-4 unit">
				<div class="panel warning round">
					<h4>Warning Panel</h4>
					<code>panel warning</code>
					<p>Adipiscing sit placerat etiam amet ac a sit hac placerat.</p>
				</div>
			</div>
			<div class="small-12 large-4 unit">
				<div class="panel danger round">
					<h4>Danger Panel</h4>
					<code>panel danger</code>
					<p>Adipiscing sit placerat etiam amet ac a sit hac placerat.</p>
				</div>
			</div>
			<div class="small-12 large-4 unit">
				<div class="panel primary round">
					<h4>Primary Panel</h4>
					<code>panel primary</code>
					<p>Adipiscing sit placerat etiam amet ac a sit hac placerat.</p>
				</div>
			</div>
		</div>
		<!-- / set 2 -->
		<!-- set 3 -->
		<div class="grid">
			<div class="small-12 large-4 unit">
				<div class="panel secondary round">
					<h4>Secondary Panel</h4>
					<code>panel secondary</code>
					<p>Adipiscing sit placerat etiam amet ac a sit hac placerat.</p>
				</div>
			</div>
		</div>
		<!-- / set 3 -->
		<!-- set 4 -->
		<div class="grid">
			<div class="small-12 unit">
				<div class="panel round">
					<h4>Panels snap to their parent unit</h4>
					<code>panel</code>
					<p>Adipiscing sit placerat etiam amet ac a sit hac placerat.</p>
				</div>
			</div>
		</div>
		<!-- / set 4 -->
	</div>
</div>
<!-- panels -->