<a name="sections"></a>
<h3>Sections</h3>
<p>Scaffolding out full-width semantic sections is easy.</p>

<pre><code>
	/* whuts */
	header.header {
		@include section($primary, 60px);
		@include rem('margin', 0 0 20px);
	}
</code></pre>