<!-- typography -->
<a name="typography"></a>
<h3>Typography</h3>
<div class="grid">
	<div class="small-12 large-6 unit">
		<h1>heading 1</h1>
		<h2>heading 2</h2>
		<h3>heading 3</h3>
		<h4>heading 4</h4>
		<h5>heading 5</h5>
		<h6>heading 6</h6>
	</div>
	<div class="small-12 large-6 unit">
	</div>
</div>

<div class="grid">
	<div class="small-12 unit">
		<h4>Typography Size Modifiers</h4>
		<p class="font-tiny">Tiny Font</p>
		<p class="font-small">Small Font</p>
		<p class="font-medium">Medium Font</p>
		<p class="font-large">Large Font</p>
		<p class="font-xl">XL Font</p>
		<p class="font-xxl">XXL Font</p>
		<p class="font-xxxl">XXL Font</p>
	</div>
</div>

<div class="grid">
	<div class="small-12 unit">
		<h1>heading 1</h1>
		<p class="lead">
		{{ 2 | lorem_ipsum }}
		</p>
		<p>
		{{ 2 | lorem_ipsum }}
		</p>
	</div>
</div>
<div class="grid">
	<div class="small-6 unit">
		<code>.list.unstyled</code>
		<ul class="list unstyled">
			<li>Lorem ipsum dolor sit amet</li>
			<li>Consectetur adipiscing elit</li>
			<li>Integer molestie lorem at massa</li>
			<li>Facilisis in pretium nisl aliquet</li>
			<li>Nulla volutpat aliquam velit
				<ul class="list unstyled">
					<li>Phasellus iaculis neque</li>
					<li>Purus sodales ultricies</li>
					<li>Vestibulum laoreet porttitor sem</li>
					<li>Ac tristique libero volutpat at</li>
				</ul>
			</li>
			<li>Faucibus porta lacus fringilla vel</li>
			<li>Aenean sit amet erat nunc</li>
			<li>Eget porttitor lorem</li>
		</ul>
	</div>
	<div class="small-6 unit">
		<ul class="list">
			<li>Lorem ipsum dolor sit amet</li>
			<li>Consectetur adipiscing elit</li>
			<li>Integer molestie lorem at massa</li>
			<li>Facilisis in pretium nisl aliquet</li>
			<li>Nulla volutpat aliquam velit
				<ul class="list">
					<li>Phasellus iaculis neque</li>
					<li>Purus sodales ultricies</li>
					<li>Vestibulum laoreet porttitor sem</li>
					<li>Ac tristique libero volutpat at</li>
				</ul>
			</li>
			<li>Faucibus porta lacus fringilla vel</li>
			<li>Aenean sit amet erat nunc</li>
			<li>Eget porttitor lorem</li>
		</ul>
	</div>
</div>
<div class="grid">
	<div class="small-6 unit">
		<ul class="list">
			<li>Lorem ipsum dolor sit amet</li>
			<li>Consectetur adipiscing elit</li>
			<li>Integer molestie lorem at massa</li>
			<li>Facilisis in pretium nisl aliquet</li>
			<li>Nulla volutpat aliquam velit
				<ul class="list">
					<li>Phasellus iaculis neque</li>
					<li>Purus sodales ultricies</li>
					<li>Vestibulum laoreet porttitor sem</li>
					<li>Ac tristique libero volutpat at</li>
				</ul>
			</li>
			<li>Faucibus porta lacus fringilla vel</li>
			<li>Aenean sit amet erat nunc</li>
			<li>Eget porttitor lorem</li>
		</ul>
	</div>
	<div class="small-6 unit">
		<ul class="list">
			<li>Lorem ipsum dolor sit amet</li>
			<li>Consectetur adipiscing elit</li>
			<li>Integer molestie lorem at massa</li>
			<li>Facilisis in pretium nisl aliquet</li>
			<li>Nulla volutpat aliquam velit
				<ul class="list">
					<li>Phasellus iaculis neque</li>
					<li>Purus sodales ultricies</li>
					<li>Vestibulum laoreet porttitor sem</li>
					<li>Ac tristique libero volutpat at</li>
				</ul>
			</li>
			<li>Faucibus porta lacus fringilla vel</li>
			<li>Aenean sit amet erat nunc</li>
			<li>Eget porttitor lorem</li>
		</ul>
	</div>
</div>
<div class="grid">
	<div class="large-12 unit">
		<h3>Blockquotes</h3>
		<blockquote>
			<p>Tempor augue, elementum amet adipiscing egestas porta porta rhoncus rhoncus porta dis, risus magna aliquet scelerisque mus, rhoncus ridiculus enim.</p>
			<small>John Smith</small>
		</blockquote>
		<blockquote class="plain">
			<p>Tempor augue, elementum amet adipiscing egestas porta porta rhoncus rhoncus porta dis, risus magna aliquet scelerisque mus, rhoncus ridiculus enim.</p>
			<small>John Smith</small>
		</blockquote>
		<blockquote class="info">
			<p>Tempor augue, elementum amet adipiscing egestas porta porta rhoncus rhoncus porta dis, risus magna aliquet scelerisque mus, rhoncus ridiculus enim.</p>
			<small>John Smith</small>
		</blockquote>
		<blockquote class="success">
			<p>Tempor augue, elementum amet adipiscing egestas porta porta rhoncus rhoncus porta dis, risus magna aliquet scelerisque mus, rhoncus ridiculus enim.</p>
			<small>John Smith</small>
		</blockquote>
		<blockquote class="secondary">
			<p>Tempor augue, elementum amet adipiscing egestas porta porta rhoncus rhoncus porta dis, risus magna aliquet scelerisque mus, rhoncus ridiculus enim.</p>
			<small>John Smith</small>
		</blockquote>
	</div>
</div>
<!-- / typography -->