// ---------------------------------------------------------------------------------------------------------  //
//  Calculators
// ---------------------------------------------------------------------------------------------------------  //
$base-font-size: 16px !default;

// em Calculator
@function em($px-values, $base: $base-font-size) {
  @if not unitless($px-values) {
      $px-values: strip($px-values);
  }
  @if not unitless($base) {
      $base: strip($base);
  }
  @return ($px-values / $base) * 1em;
}

// rem + Pixel Fallback
// https://github.com/bitmanic/rem
@mixin rem($property, $px-values) {
  // Convert the baseline into rems
  $baseline-rem: $base-font-size / 1rem;
  // Print the first line in pixel values
  #{$property}: $px-values;
  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    // Create an empty list that we can dump values into
    $rem-values: unquote("");
    @each $value in $px-values {
      // If the value is zero, return 0
      @if $value == 0 {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    // Return the property and its list of converted values
    #{$property}: $rem-values; } 
}